<section class="relative min-h-screen bg-gradient-to-b from-neutral-900 to-stone-800 scroll-smooth snap-center">
    <div class="flex flex-1 flex-col justify-center gap-5">
        <div class="absolute top-5 left-5">
            <p class="text-neutral-600 font-montserrat text-[35px] max-md:text-[35px]">
                Podnieś poziom swoich zleceń
            </p>
            <p class="text-neutral-500 font-montserrat font-semibold text-[60px] max-md:text-[35px] ml-32">
                dzięki wspołpracy z SlominSky
            </p>
        </div>
        <!-- TODO: performance increase related to use of drop-shadow (performance issue) -->
        <div
            class="mb-20 mx-40 mt-48 grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 max-md:max-w-md gap-40 items-center">
            <div
                class=" flex flex-col items-center justify-start h-[700px] bg-gradient-to-t from-neutral-800/10 to-slate-100/10 rounded-2xl backdrop-filter backdrop-blur-xl ring-2 ring-stone-600 hover:scale-[1.05] ease-in duration-75">
                <img src="./assets/sheild-front-premium_lores.png" alt="shield"
                    class="w-[300px] h-[300px] drop-shadow-2xl mt-5">
                <p class="text-neutral-500 font-montserrat text-2xl font-bold mt-10">BEZPIECZEŃSTWO</p>
                <!-- <p class="text-left mx-6 text-neutral-700 font-montserrat text-xl mt-10">Przede wszystkim - bezpieczeństwo. Loty 
                    bezzałogowymi statkami powietrznymi przeprowadzane są przez odpowiednio wykwalifikowanego i doświadczonego pilota a każda operacja objęta jest ubezpieczeniem. Wszystko po to, aby zminimalizować ryzyko w przestrzeni powietrznej.
                </p> -->
                <ul class="mt-10 text-neutral-500 font-montserrat text-xl">
                    <li class="my-4 mx-5 text-center">Odpowiednie kwalifikacje i uprawnienia</li>
                    <li class="my-4 mx-5 text-center">Ubezpieczenie w ramach wykonywania operacji z użyciem
                        bezzałogowców</li>
                    <li class="my-4 mx-5 text-center">Minimalizacja ryzyka w strefie powietrznej</li>
                </ul>
            </div>
            <div
                class=" flex flex-col items-center justify-start h-[700px] bg-gradient-to-t from-neutral-800/10 to-slate-100/10 rounded-2xl backdrop-filter backdrop-blur-xl ring-2 ring-stone-600 hover:scale-[1.05] ease-in duration-75">
                <img src="./assets/setting-front-premium_lores.png" alt="shield"
                    class="w-[300px] h-[300px] drop-shadow-2xl mt-5">
                <p class="text-neutral-500 font-montserrat text-2xl font-bold mt-10">ELASTYCZNOŚĆ</p>
                <ul class="mt-10 text-neutral-500 font-montserrat text-xl">
                    <li class="my-4 mx-5 text-center">Szeroki zakres personalizacji zlecenia</li>
                    <li class="my-4 mx-5 text-center">Elastyczne i indywidualne określenie warunków współpracy</li>
                    <!-- <li class="my-4 mx-5 text-center"></li> -->
                </ul>
            </div>
            <div
                class=" flex flex-col items-center justify-start h-[700px] bg-gradient-to-t from-neutral-800/10 to-slate-100/10 rounded-2xl backdrop-filter backdrop-blur-xl ring-2 ring-stone-600 hover:scale-[1.05] ease-in duration-75">
                <img src="./assets/compass-lores.png" alt="shield" class="w-[300px] h-[300px] drop-shadow-2xl mt-5">
                <p class="text-neutral-500 font-montserrat text-2xl font-bold mt-10">INNOWACYJNOŚĆ</p>
                <ul class="mt-10 text-neutral-500 font-montserrat text-xl">
                    <li class="my-4 mx-5 text-center">Dostep do innowacyjnego mechanizmu wyceny</li>
                    <li class="my-4 mx-5 text-center">Śledzenie postępów realizacji zlecenia</li>
                    <li class="my-4 mx-5 text-center">Nieznane odmiany znanych usług</li>
                </ul>
            </div>
        </div>
    </div>
</section>