<!-- <section class="relative min-h-screen w-full bg-gradient-to-b from-[#070707] to-stone-900">
  <div class="flex flex-1 flex-col justify-center gap-5">
    <div class="pb-20 px-40 h-screen w-full grid grid-cols-1 2xl:grid-cols-3 gap-40 items-center">

      <div data-aos="flip-left" data-aos-duration="750"
        class="h-[70%] bg-[radial-gradient(ellipse_at_top,_#707070_0%,#202020_70%)] rounded-[12px] p-1">
        <div class="flex flex-col items-center justify-between h-full w-full bg-stone-950/80 rounded-[10px] p-5">
          <p class="text-stone-500 w-full text-center mt-10 font-palanquin text-[40px] font-bold select-none">
            BEZPIECZEŃSTWO
          </p>
          <img src="./assets/sheild-front-premium_lores.png" alt="shield" class="w-[250px] h-[250px] my-5">
          <div class="w-full h-auto bg-stone-900/20 ring-1 ring-stone-600/20 rounded-[10px] shadow-inner">
            <p
              class="text-neutral-500 w-full text-left font-montserrat text-md font-normal text-wrap py-4 px-2 select-none">
              Bezpieczeństwo
              Twoich zleceń jest kluczowe - loty objęte są ubezpieczeniem a operator drona posiada odpowiednie
              kwalifikacje
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section> -->

<section id="homeDetails"
  class="relative min-h-screen w-full bg-gradient-to-b from-[#070707] via-stone-900 to-stone-950">

  <div data-aos="fade-down" data-aos-duration="750" data-aos-once="true"
    class="flex flex-col justify-center items-center">
    <div class="text-white pt-28 pb-20">
      <p class="text-center text-4xl md:text-6xl font-montserrat font-semibold text-stone-700">Co jest kluczowe</p>
      <p class="text-center text-4xl md:text-6xl font-montserrat font-semibold text-stone-600">we współpracy z
        SlominSky?
      </p>
    </div>
    <!--
    <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true"
      class="h-[400px] w-full my-20 flex flex-row justify-start items-center">
      <div class=" max-w-[75%] h-full flex flex-row justify-start rounded-r-2xl bg-gradient-to-b from-stone-950">
        <div class="h-full w-auto flex flex-col justify-center items-start ml-10 py-16">
          <p
            class="w-100% text-[100px] pb-10 font-montserrat font-light bg-gradient-to-tl from-stone-800 via-stone-700 to-white-400 text-transparent bg-clip-text select-none">
            Bezpieczeństwo</p>
          <p class="text-xl text-stone-600 font-poppins font-normal text-wrap select-none">
            Bezpieczeństwo
            Twoich zleceń jest kluczowe - loty objęte są ubezpieczeniem a operator drona posiada odpowiednie
            kwalifikacje
          </p>
        </div>
        <div class="w-auto h-full flex flex-col justify-center items-center p-5">
          <img src="./assets/sheild-front-premium_lores.png" alt="shield" class="w-[300px] h-auto object-contain">
        </div>
      </div>
    </div> -->



    <div
      class="w-[95%] bg-[radial-gradient(ellipse_at_top,_#606060_30%,#151515_70%)] rounded-[50px] pt-[2px] px-[2px] mt-10 mb-64">
      <div class="w-full h-full bg-gradient-to-b from-stone-950 to-stone-900 rounded-[48px]">
        <div
          class="w-full h-full px-20 py-20 bg-dotted-pattern bg-dotted-size rounded-[48px] grid grid-cols-1 min-[1300px]:grid-cols-2 gap-10 overflow-hidden">
          <!-- <div
          class="w-full h-full px-20 py-20 bg-dotted-pattern bg-dotted-size rounded-[48px] flex flex-col items-center justify-center overflow-hidden"> -->

          <!-- <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-full h-auto rounded-[30px] flex flex-row min-[900px]:justify-start bg-black/25 ring-[1px] ring-black py-20">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-start items-center">
              <div
                class="min-[900px]:py-10 ml-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-semibold text-center min-[900px]:text-left font-montserrat pb-5">
                  Bezpieczeństwo</p>
                <p
                  class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-poppins text-wrap text-justify font-normal">
                  Bezpieczeństwo Twoich zleceń jest kluczowe dlatego loty objęte są ubezpieczeniem a operator drona
                  posiada odpowiednie
                  kwalifikacje
                </p>
              </div>
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/shield-icon.svg" alt="shield-icon"
                  class="h-[200px] min-[900px]:h-[250px] w-auto opacity-20 highlight-shadow">
              </div>
            </div>
          </div>

          <div data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-end mt-10 min-[900px]:mt-32 mb-10">
            <div
              class="h-full w-full min-[900px]:w-[80%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-end items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/tune-icon.svg" alt="tune-icon"
                  class="h-[175px] min-[900px]:h-[250px] w-auto opacity-20 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl min-[900px]:max-w-[65%] from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Elastyczność</p>
                <p
                  class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap text-justify font-semibold">
                  Warunki naszej współpracy nie muszą być ściśle określone - do Twojej dyspozcji przeznaczony jest
                  formularz gdzie skorzystasz ze zdefiniowanych warunków lub zaproponujesz własne
                </p>
              </div>
            </div>
          </div>


          <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-start mt-10 min-[900px]:mt-32 mb-10">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-start items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/lightbulb-icon.svg" alt="bulb-icon"
                  class="h-[175px] min-[900px]:h-[250px] w-auto opacity-25 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Innowacyjność</p>
                <p
                  class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap text-justify font-semibold">
                  Innowacyjność w ramach współpracy z SlominSky zaczyna się od założenia konta, do czego mocno Cię
                  zachęcam! Odkryj innowacyjność pod znakiem SlominSky
                </p>
              </div>
            </div>
          </div>

          <div data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-end mt-10 min-[900px]:mt-32 mb-16">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-end items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/pace-icon.svg" alt="pace-icon"
                  class="h-[175px] min-[900px]:h-[250px] w-auto opacity-20 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 min-[900px]:max-w-[65%] bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Czas realizacji</p>
                <p
                  class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap text-justify font-semibold">
                  Czas jest kluczowy - przekonaj się jak ważnym czynnikiem w naszej współpracy jest czas w składaniu
                  oraz realizacji zamówienia
                </p>
              </div>
            </div>
          </div>
 -->

          <div
            class="flex flex-col px-16 justify-center items-center bg-neutral-950 rounded-[30px] hover:shadow-2xl hover:scale-[1.02] hover:shadow-neutral-300/20 transition-all ease-in-out duration-200 cursor-pointer">
            <div class="relative h-[400px] w-[400px] flex flex-col items-center justify-center mt-5">
              <div class="absolute flex flex-col justify-center items-center inset-0 h-full w-full">
                <img src="./assets/grid.png" alt="" class="opacity-30">
              </div>
              <img src="./assets/icons/shield-icon.svg" alt="" class="w-auto h-[300px] highlight-shadow">
            </div>
            <div class="my-10 h-[250px] min-[1600px]:h-auto min-[1600px]:mb-16">
              <p class="text-3xl md:text-4xl font-semibold text-left font-montserrat pb-5 text-neutral-500">
                Bezpieczeństwo</p>
              <p class="text-lg md:text-xl font-light text-left font-poppins text-neutral-600">
                Bezpieczeństwo Twoich zleceń jest kluczowe dlatego loty objęte są ubezpieczeniem a operator drona
                posiada odpowiednie
                kwalifikacje
              </p>
            </div>
          </div>
          <div
            class="flex flex-col px-16 justify-between items-center bg-neutral-950 rounded-[30px] hover:shadow-2xl hover:scale-[1.02] hover:shadow-neutral-300/20 transition-all ease-in-out duration-200 cursor-pointer">
            <div class="relative h-[400px] w-[400px] flex flex-col items-center justify-center mt-5">
              <div class="absolute flex flex-col justify-center items-center inset-0 h-full w-full">
                <img src="./assets/grid.png" alt="" class="opacity-30">
              </div>
              <img src="./assets/icons/tune-icon.svg" alt="" class="w-auto h-[250px] highlight-shadow">
            </div>
            <div class="my-10 h-[300px] md:h-[250px] min-[1600px]:h-auto min-[1600px]:mb-16">
              <p class="text-3xl md:text-4xl font-semibold text-left font-montserrat pb-5 text-neutral-500">
                Elastyczność</p>
              <p class="text-lg md:text-xl font-light text-left font-poppins text-neutral-600">
                Warunki naszej współpracy nie muszą być ściśle określone - do Twojej dyspozcji przeznaczony jest
                formularz gdzie skorzystasz ze zdefiniowanych warunków lub zaproponujesz własne
              </p>
            </div>
          </div>

          <div
            class="flex flex-col px-16 justify-center items-center bg-neutral-950 rounded-[30px] hover:shadow-2xl hover:scale-[1.02] hover:shadow-neutral-300/20 transition-all ease-in-out duration-200 cursor-pointer">
            <div class="relative h-[400px] w-[400px] flex flex-col items-center justify-center mt-5">
              <div class="absolute flex flex-col justify-center items-center inset-0 h-full w-full">
                <img src="./assets/grid.png" alt="" class="opacity-30">
              </div>
              <img src="./assets/icons/lightbulb-icon.svg" alt="" class="w-auto h-[65%] highlight-shadow">
            </div>
            <div class="my-10 h-[250px] min-[1600px]:h-auto min-[1600px]:mb-16">
              <p class="text-3xl md:text-4xl font-semibold text-left font-montserrat pb-5 text-neutral-500">
                Innowacyjność</p>
              <p class="text-lg md:text-xl font-light text-left font-poppins text-neutral-600">
                Innowacyjność w ramach współpracy z SlominSky zaczyna się od założenia konta, do czego mocno Cię
                zachęcam! Odkryj innowacyjność pod znakiem SlominSky
              </p>
            </div>
          </div>

          <div
            class="flex flex-col px-16 justify-center items-center bg-neutral-950 rounded-[30px] hover:shadow-2xl hover:scale-[1.02] hover:shadow-neutral-300/20 transition-all ease-in-out duration-200 cursor-pointer">
            <div class="relative h-[400px] w-[400px] flex flex-col items-center justify-center mt-5">
              <div class="absolute flex flex-col justify-center items-center inset-0 h-full w-full">
                <img src="./assets/grid.png" alt="" class="opacity-30">
              </div>
              <img src="./assets/icons/pace-icon.svg" alt="" class="w-auto h-[60%] highlight-shadow">
            </div>
            <div class="my-10 h-[250px] min-[1600px]:h-auto min-[1600px]:mb-16">
              <p class="text-3xl md:text-4xl font-semibold text-left font-montserrat pb-5 text-neutral-500">
                Czas realizacji</p>
              <p class="text-lg md:text-xl font-light text-left font-poppins text-neutral-600">
                Czas jest kluczowy - przekonaj się jak ważnym czynnikiem w naszej współpracy jest czas w składaniu
                oraz realizacji zamówienia
              </p>
            </div>
          </div>

          <div
            class="min-[1300px]:col-span-2 flex flex-col px-16 justify-between items-center bg-neutral-950 rounded-[30px] hover:shadow-2xl hover:scale-[1.02] hover:shadow-neutral-300/20 transition-all ease-in-out duration-200 cursor-pointer">
            <div class="h-[300px] xl:h-[450px] w-full flex flex-col items-center justify-center py-16">
              <img src="./assets/dashboard.png" alt="dashboard"
                class="w-auto h-full object-left object-cover lg:object-contain">
            </div>
            <div class="pb-10 w-full">
              <p class="text-3xl md:text-4xl font-semibold text-left font-montserrat pb-5 text-neutral-500">
                Wszystko pod kontrolą</p>
              <p class="text-lg md:text-xl font-light text-left font-poppins text-neutral-600">
                Dedykowana aplikacja i panel użytkownika przeznaczone są do Twojej dyspozycji na potrzeby zarządzania
                stanem Twoich zleceń
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>
