<!-- <section class="relative min-h-screen w-full bg-gradient-to-b from-[#070707] to-stone-900">
  <div class="flex flex-1 flex-col justify-center gap-5">
    <div class="pb-20 px-40 h-screen w-full grid grid-cols-1 2xl:grid-cols-3 gap-40 items-center">

      <div data-aos="flip-left" data-aos-duration="750"
        class="h-[70%] bg-[radial-gradient(ellipse_at_top,_#707070_0%,#202020_70%)] rounded-[12px] p-1">
        <div class="flex flex-col items-center justify-between h-full w-full bg-stone-950/80 rounded-[10px] p-5">
          <p class="text-stone-500 w-full text-center mt-10 font-palanquin text-[40px] font-bold select-none">
            BEZPIECZEŃSTWO
          </p>
          <img src="./assets/sheild-front-premium_lores.png" alt="shield" class="w-[250px] h-[250px] my-5">
          <div class="w-full h-auto bg-stone-900/20 ring-1 ring-stone-600/20 rounded-[10px] shadow-inner">
            <p
              class="text-neutral-500 w-full text-left font-montserrat text-md font-normal text-wrap py-4 px-2 select-none">
              Bezpieczeństwo
              Twoich zleceń jest kluczowe - loty objęte są ubezpieczeniem a operator drona posiada odpowiednie
              kwalifikacje
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section> -->

<section class="relative h-auto w-full bg-gradient-to-b from-[#070707] via-stone-900 to-stone-950">

  <div data-aos="fade-down" data-aos-duration="750" data-aos-once="true"
    class="flex flex-col justify-center items-center">
    <div class="text-white pt-28 pb-28">
      <p class="text-center text-4xl md:text-6xl font-montserrat font-bold text-stone-700">Co jest kluczowe</p>
      <p class="text-center text-4xl md:text-6xl font-montserrat font-bold text-stone-600">we współpracy z SlominSky?
      </p>
    </div>
    <!--
    <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true"
      class="h-[400px] w-full my-20 flex flex-row justify-start items-center">
      <div class=" max-w-[75%] h-full flex flex-row justify-start rounded-r-2xl bg-gradient-to-b from-stone-950">
        <div class="h-full w-auto flex flex-col justify-center items-start ml-10 py-16">
          <p
            class="w-100% text-[100px] pb-10 font-montserrat font-light bg-gradient-to-tl from-stone-800 via-stone-700 to-white-400 text-transparent bg-clip-text select-none">
            Bezpieczeństwo</p>
          <p class="text-xl text-stone-600 font-poppins font-normal text-wrap select-none">
            Bezpieczeństwo
            Twoich zleceń jest kluczowe - loty objęte są ubezpieczeniem a operator drona posiada odpowiednie
            kwalifikacje
          </p>
        </div>
        <div class="w-auto h-full flex flex-col justify-center items-center p-5">
          <img src="./assets/sheild-front-premium_lores.png" alt="shield" class="w-[300px] h-auto object-contain">
        </div>
      </div>
    </div> -->



    <div
      class="w-[90%] bg-[radial-gradient(ellipse_at_top,_#606060_30%,#151515_70%)] rounded-[50px] pt-1 px-1 mt-10 mb-64">
      <div class="w-full h-full bg-gradient-to-b from-stone-950 to-stone-900 rounded-[48px]">
        <div
          class="w-full h-full bg-dotted-pattern bg-dotted-size rounded-[48px] flex flex-col items-center justify-center">



          <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-start mt-16 min-[900px]:mt-32 mb-10">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-start items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/shield-icon.svg" alt="shield-icon"
                  class="h-[200px] min-[900px]:h-[250px] w-auto opacity-20 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Bezpieczeństwo</p>
                <p class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap font-semibold">
                  Bezpieczeństwo
                  Twoich zleceń jest kluczowe - loty objęte są ubezpieczeniem a operator drona posiada odpowiednie
                  kwalifikacje
                </p>
              </div>
            </div>
          </div>

          <div data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-end mt-10 min-[900px]:mt-32 mb-10">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-start items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/tune-icon.svg" alt="tune-icon"
                  class="h-[175px] min-[900px]:h-[250px] w-auto opacity-20 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Elastyczność</p>
                <p class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap font-semibold">
                  Warunki naszej współpracy nie muszą być ściśle określone - do Twojej dyspozcji przeznaczony jest
                  formularz gdzie skorzystasz ze zdefiniowanych warunków lub zaproponujesz własne
                </p>
              </div>
            </div>
          </div>

          <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-start mt-10 min-[900px]:mt-32 mb-10">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-start items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/lightbulb-icon.svg" alt="bulb-icon" class="h-[250px] w-auto opacity-25 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Innowacyjność</p>
                <p class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap font-semibold">
                  Innowacyjność w ramach współpracy z SlominSky zaczyna się od założenia konta, do czego mocno Cię
                  zachęcam! Odkryj innowacyjność pod znakiem SlominSky
                </p>
              </div>
            </div>
          </div>

          <div data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-placement="bottom-center"
            class="w-[90%] h-auto flex flex-row min-[900px]:justify-end mt-10 min-[900px]:mt-32 mb-16">
            <div
              class="h-full w-full min-[900px]:w-[70%] flex flex-col min-[900px]:flex-row justify-center min-[900px]:justify-start items-center">
              <div class="h-full min-[900px]:min-w-[250px]">
                <img src="./assets/icons/pace-icon.svg" alt="pace-icon"
                  class="h-[175px] min-[900px]:h-[250px] w-auto opacity-20 highlight-shadow">
              </div>
              <div
                class="min-[900px]:py-10 mt-5 mb-10 min-[900px]:pl-5 bg-gradient-to-tl from-stone-800 via-stone-600 to-white-400 text-transparent bg-clip-text">
                <p
                  class="text-2xl min-[900px]:text-4xl font-bold text-center min-[900px]:text-left font-montserrat pb-5">
                  Czas realizacji</p>
                <p class="text-[15px] min-[900px]:w-full min-[900px]:text-lg font-montserrat text-wrap font-semibold">
                  Czas jest kluczowy - przekonaj się jak ważnym czynnikiem w naszej współpracy jest czas w składaniu
                  oraz realizacji zamówienia
                </p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>





  </div>
</section>
