<app-navbar></app-navbar>
<section class="relative min-h-screen w-full bg-neutral-950 overflow-x-hidden select-none">
  <div class="flex flex-col items-center justify-start w-full h-full">
    <div class="bg-fixed bg-cover bg-center flex flex-col justify-center items-center w-full h-screen"
      style="background-image: url(./assets/foto-video-service/shutter.png); object-fit: cover; width: 100%;">
      <div class="h-full w-full flex flex-col md:flex-row items-center justify-center bg-black/50">
        <p class="text-6xl sm:text-8xl font-semibold font-montserrat select-none text-neutral-400">
          FOTO
        </p>
        <p class="text-6xl sm:text-8xl font-semibold font-montserrat select-none text-neutral-600">
          /VIDEO
        </p>
      </div>
    </div>

    <!-- description -->
    <div class="w-full h-auto mt-10 flex flex-col justify-center items-center">
      <div class="mb-16 w-[90%] flex flex-row text-base font-montserrat justify-start items-center text-neutral-600">
        <img routerLink="/" src="./assets/icons/home-icon.svg" alt="home"
          class="h-[25px] w-[25px] cursor-pointer hover:brightness-150 ease-in-out duration-150">
        <img src="./assets/icons/arrow-right-icon.svg" alt="arrow" class="h-[25px] w-[25px]">
        <p routerLink="/services" class="cursor-pointer hover:text-neutral-400 ease-in-out duration-150">
          USŁUGI
        </p>
        <img src="./assets/icons/arrow-right-icon.svg" alt="arrow" class="h-[25px] w-[25px]">
        <p>
          FOTO/VIDEO
        </p>
      </div>
      <div class="relative w-[75%] h-auto flex flex-col justify-center items-start ">
        <p class="font-montserrat font-semibold text-3xl sm:text-4xl text-neutral-500">
          O Usłudze
        </p>
        <p
          class="text-xl sm:text-2xl text-left font-light mt-5 mb-16 font-poppins text-neutral-600 overflow-hidden select-none">
          SlominSky oferuje usługę związaną z tworzeniem materiałów foto/video w wybranym przez Ciebie formacie i stylu
          z dbałością o każdy szczegół.
          Zlecając usługę nie martwisz się o przebieg, czas czy jakość wykonania zlecenia a dzięki panelowi
          użytkownika z łatwością kontrolujesz stan swojego zlecenia.
        </p>
      </div>
    </div>

    <div
      class="flex mt-16 md:mt-32 h-auto py-20 w-[90%] flex-col justify-start items-center bg-[radial-gradient(ellipse_at_bottom,_#252525_0%,#0a0a0a_60%)] border-b-[3px] border-[#252525]">
      <p
        class="text-4xl w-[90%] lg:text-6xl text-wrap text-center font-semibold font-poppins bg-gradient-to-tl from-stone-800 via-stone-700 to-white-400 text-transparent bg-clip-text overflow-hidden select-none">
        To właśnie tutaj <br> możesz zlecić wykonanie
      </p>
      <div appIntersectionObserver (inView)="onServicesInView()" class="mt-5">
        <p class="text-2xl md:text-3xl text-left sm:text-center text-wrap font-poppins text-stone-600">
          {{ currentService }}
        </p>
      </div>
    </div>

    <!-- button -->
    <div data-aos="fade-up" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease"
      class="my-40 lg:my-52 w-auto">
      <p (click)="onShowProcess()"
        class="ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[10px] sm:text-[20px] hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50">
        Zobacz jak wygląda proces realizacji zlecenia
      </p>
    </div>

    <!-- feature 1 - camera -->
    <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease"
      class="w-[90%] h-auto flex flex-col items-center mb-32 mt-10">
      <div
        class="relative w-full ring-2 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent ring-neutral-800 rounded-2xl p-10 lg:mb-16">
        <p
          class="absolute bg-neutral-950 rounded-full text-neutral-600 font-montserrat font-semibold text-[20px] leading-[20px] left-5 top-[-10px] sm:text-[26px] sm:leading-[26px] sm:left-10 sm:top-[-13px] px-2">
          UJĘCIA STACJONARNE
        </p>
        <div class="w-full h-auto flex flex-col lg:flex-row justify-start items-center">
          <div class="h-[55%] mt-5 lg:mt-0 md:h-auto w-auto md:w-[55%] lg:h-auto flex justify-center mb-10 lg:mb-0">
            <img src="./assets/foto-video-service/camera.png" alt="camera-with-gimbal"
              class="h-full w-auto opacity-75 object-contain">
          </div>
          <div class="flex flex-col justify-start items-start lg:pl-10 w-full lg:max-w-[60%]">
            <p class="font-poppins text-neutral-700 font-light text-md md:text-3xl text-pretty">
              Ujęcia z tworzone są za pomocą odpowiedniego sprzętu wyposażonego w odpowiednią optykę -
              wszystko po to, aby uchwycić i podkreślić wszystkie elementy kadru na których Ci zależy.
              Za płynność ujęć odpowiada gimbal a rozdzielczość materiału sięga standardowi 4k.
            </p>
          </div>
        </div>
        <div class="my-32 w-full grid grid-cols-2 lg:grid-cols-4">
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-xl font-light text-neutral-600 py-1">
            <img src="./assets/icons/4k-icon.svg" alt="4k"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              rozdzielczość
            </p>
          </div>
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-lg font-light text-neutral-600 py-1">
            <img src="./assets/icons/aspect-ratio-icon.svg" alt="aspect-ratio"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              dowolny format
            </p>
          </div>
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-lg font-light text-neutral-600 py-1">
            <img src="./assets/icons/hq-icon.svg" alt="hq"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              wysoka jakość
            </p>
          </div>
          <div
            class="mr-2 my-1 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-lg font-light text-neutral-600 py-1">
            <img src="./assets/icons/stability-icon.svg" alt="stability"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              stabilizacja
            </p>
          </div>
        </div>
        <div class="w-full flex flex-col justify-start items-center mb-16">
          <p
            class="w-[95%] md:w-[80%] py-10 text-left font-montserrat font-semibold text-neutral-500 text-4xl md:text-6xl">
            Twój punkt widzenia.
          </p>
          <video autoplay loop src="{{ domain }}/storage/foto-video-service/camera_with_gimbal.mp4"
            class="rounded-2xl brightness-[60%] w-[95%] md:w-[80%] h-auto">
          </video>
          <p
            class="w-[95%] md:w-[80%] py-10 text-justify font-montserrat font-normal text-neutral-700 text-base md:text-2xl">
            Niezależnie od tego czy szukasz realizacji Twojego pomysłu na spot reklamowy, relację z wydarzenia,
            prezentację czy upamiętnienie Twoich najważniejszych chwil - możesz liczyć na profesjonalizm oraz
            rzetelność w wybranym przez Ciebie formacie. Nie ma znaczenia czy potrzebujesz matriału udostępnianego na
            social mediach w postaci rolek czy filmu w standardowych proporcjach. Nasza współpraca będzie miała
            indywidualny charakter.
          </p>
        </div>
      </div>
    </div>

    <!-- feature 2 - drone -->
    <div data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease"
      class="w-[90%] h-auto flex flex-col items-center mb-32">
      <div
        class="relative w-full ring-2 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent ring-neutral-800 rounded-2xl p-10 mb-32 lg:mb-16">
        <p
          class="absolute bg-neutral-950 rounded-full text-neutral-600 font-montserrat font-semibold text-[20px] leading-[20px] left-5 top-[-10px] sm:text-[26px] sm:leading-[26px] sm:left-10 sm:top-[-13px] px-2">
          UJĘCIA Z POWIETRZA
        </p>
        <div class="w-full h-auto flex flex-col lg:flex-row justify-start lg:justify-end items-center">
          <div
            class="h-[55%] mt-5 lg:mt-0 md:h-auto w-auto md:w-[70%] lg:h-auto flex justify-center mb-10 lg:mb-0 lg:order-1">
            <img src="./assets/foto-video-service/drone.png" alt="camera-with-gimbal" class="h-full w-auto opacity-75">
          </div>
          <div class="flex md:mt-20 flex-col justify-start items-start lg:pl-10 w-full lg:max-w-[45%]">
            <p class="font-poppins text-neutral-700 font-normal text-md md:text-3xl text-pretty">
              Ujęcia z powietrza mogą być kluczowym aspektem Twojej realizacji. Tu nie chodzi wyłącznie o inną
              perspektywę ujęć - prezentacja ważnych aspektów obiektu zlecenia z wysokości to furtka do innych
              możliwości, które odkryjesz w ramach naszej współpracy.
            </p>
          </div>
        </div>
        <div class="my-32 w-full grid grid-cols-2 lg:grid-cols-4">
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-xl font-light text-neutral-600 rounded-full py-1">
            <img src="./assets/icons/4k-icon.svg" alt="4k"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              rozdzielczość
            </p>
          </div>
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-lg font-light text-neutral-600 rounded-full py-1">
            <img src="./assets/icons/aspect-ratio-icon.svg" alt="aspect-ratio"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              dowolny format
            </p>
          </div>
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-lg font-light text-neutral-600 rounded-full py-1">
            <img src="./assets/icons/hq-icon.svg" alt="hq"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              wysoka jakość
            </p>
          </div>
          <div
            class="mr-3 my-2 md:my-3 flex flex-col justify-center items-center font-poppins text-md md:text-lg font-light text-neutral-600 rounded-full py-1">
            <img src="./assets/icons/flight-time-icon.svg" alt="stability"
              class="mb-2 w-20 h-20 lg:h-32 lg:w-32 object-contain highlight-shadow">
            <p class="w-full text-sm lg:text-lg text-wrap text-center font-montserrat font-semibold">
              długi czas lotu
            </p>
          </div>
        </div>
        <div class="w-full flex flex-col justify-start items-center mb-16">
          <p
            class="w-[95%] md:w-[80%] py-10 text-left font-montserrat font-semibold text-neutral-500 text-4xl md:text-6xl">
            Powietrzny kadr
          </p>
          <video autoplay loop src="{{ domain }}/storage/foto-video-service/drone.mp4"
            class="rounded-2xl brightness-[70%] w-[95%] md:w-[80%] h-auto">
          </video>
          <p
            class="w-[95%] md:w-[80%] py-10 text-left font-montserrat font-semibold text-neutral-700 text-base md:text-2xl">
            Pozwól aby Twoje ujęcia nabrały charakter dzięki możliwościom powietrznego kadru.
          </p>
        </div>
      </div>
    </div>
    <div class="w-full">
      <app-home-portfolio></app-home-portfolio>
    </div>

    <!-- feature 3 - order steps -->
    <div id="order-steps" class="w-[95%] sm:w-[90%] h-auto mt-16 md:mt-36 flex flex-col items-center">
      <div
        class="relative w-full h-full ring-2 ring-neutral-800 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent rounded-2xl p-0">
        <p
          class="absolute w-[230px] sm:w-auto bg-neutral-950 rounded-full text-neutral-600 font-montserrat font-semibold text-[20px] leading-[20px] left-5 top-[-20px] sm:top-[-10px] md:text-[26px] md:leading-[26px] md:left-10 md:top-[-13px] px-2">
          PROCES REALIZACJI ZAMÓWIENIA
        </p>
        <div class="w-full h-full mt-32">
          <p-timeline [value]="steps" align="alternate" styleClass="customized-timeline" class="">
            <ng-template pTemplate="marker" let-step>
              <span class="flex justify-center items-center h-12 w-12 sm:h-20 sm:w-20 m-1 lg:m-2">
                <img [src]="step.icon" alt="step icon" class="w-full h-full">
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-step>
              <div
                class="w-auto min-h-[400px] sm:min-h-[300px] px-2 lg:px-10 pt-0 flex flex-col items-{{step.items}} justify-start">
                <p class="hyphens-auto text-xl sm:text-2xl lg:text-3xl font-semibold text-neutral-400 font-montserrat">
                  {{step.title}}</p>
                <p
                  class="mt-3 text-xs sm:text-sm text-pretty lg:text-base max-w-[450px] font-light text-left text-neutral-500 font-poppins">
                  {{step.description}}</p>
              </div>
            </ng-template>
          </p-timeline>
        </div>

      </div>
    </div>

    <!-- order a service -->

    <div data-aos="fade-up" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease" class="my-40 w-auto">
      <div
        class="flex flex-row items-center ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 px-7 py-3 rounded-full hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50 select-none">
        <p routerLink="/user/panel/create-order/1"
          class="text-blue-200 font-montserrat font-semibold  text-[18px] min-[450px]:text-[25px] lg:text-[30px]">
          Zamawiam usługę
        </p>
        <img src="./assets/icons/arrow-icon.svg" alt="arrow" class="h-10 w-10 ml-2">
      </div>
    </div>

    <!-- contact -->
    <div class="w-[80%] h-auto mb-16 flex flex-col md:flex-row items-center justify-center">
      <img src="./assets/chat.png" alt="chat" class="hidden md:block md:h-[500px] lg:h-[600px] w-auto opacity-75">
      <div class="w-full md:ml-8 lg:ml-16 h-full flex flex-col items-center justify-center md:items-start">
        <p class="font-montserrat text-4xl lg:text-6xl text-neutral-500 font-semibold my-2">Masz pytania?</p>
        <p class="font-poppins text-3xl text-neutral-600 font-light my-2">Zapraszam do kontaktu</p>
        <img src="./assets/chat.png" alt="chat"
          class=" block md:hidden md:h-[500px] lg:h-[600px] w-auto object-contain opacity-75">
        <p routerLink="/contact"
          class="ring-1 my-10 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[20px] hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50">
          Skontaktuj się
        </p>
      </div>
    </div>
  </div>
</section>
