<app-navbar></app-navbar>
<main [ngClass]="onShow || isCreateMode ? 'w-full h-screen overflow-hidden' : 'w-full h-screen overflow-x-hidden'">
  <p-toast />
  <section class="relative h-auto w-full bg-neutral-950 overflow-y-hidden select-none">

    <!-- create overlay -->
    <div *ngIf="isCreateMode"
      class="absolute flex flex-col justify-center items-center z-30 top-0 left-0 h-screen w-screen overflow-hidden">
      <div
        class="relative w-[80%] h-[80%] bg-neutral-900/95 ring-1 ring-neutral-800 rounded-2xl flex flex-col justify-between items-center">
        <div *ngIf="isUploading"
          class="absolute flex flex-col gap-5 justify-center items-center left-0 top-0 rounded-2xl z-50 w-full h-full bg-black/70">
          <span class="loader"></span>
          <p class="text-sm text-neutral-600 font-montserrat font-normal">Publikowanie posta...</p>
        </div>
        <img src="./assets/icons/cancel-icon.png" alt="cancel-icon" (click)="onCancelCreateMode()"
          class="absolute z-40 right-4 top-4 w-5 h-5 brightness-75 hover:brightness-100 transition-all ease-in-out duration-100 cursor-pointer">
        <div class="w-full h-auto p-3 min-[1400px]:mt-10 min-[1400px]:px-10">
          <form id="form" [formGroup]="createPostForm" (ngSubmit)="onPostCreate()">
            <mat-horizontal-stepper linear [orientation]="isMobile ? 'vertical' : 'horizontal'" #stepper
              style="background-color: transparent; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
              <mat-step>
                <ng-template matStepLabel>PLIK</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start max-[1400px]:h-[250px]">
                  <p class="text-2xl mb-2 min-[1400px]:text-3xl font-normal text-neutral-600">Wybierz plik foto/video
                  </p>
                  <div (click)="inputFile.click()"
                    class="flex flex-col justify-center items-center h-[100px] min-[1400px]:h-[300px] mt-2 w-full border-dashed border-2 rounded-xl border-neutral-600 cursor-pointer">
                    <input type="file" #inputFile (change)="onFileSelected($event)" id="file" class="hidden">
                    <p
                      class="p-3 min-[1400px]:p-5 font-semibold text-sm min-[1400px]:text-base font-montserrat text-neutral-600">
                      WYBIERZ PLIK
                    </p>
                  </div>
                  <div
                    class="flex flex-row justify-between items-center w-full h-[75px] mt-5 text-neutral-600 font-montserrat text-base font-normal">
                    <img *ngIf="isImage(fileName)" [src]="file ? fileSrc : ''" class="h-full w-auto">
                    <img *ngIf="!isImage(fileName) && file"
                      [src]="createPostForm.get('postCoverForm.cover') ? './assets/icons/movie-icon.svg' : ''"
                      class="h-full w-auto">
                    <p>
                      {{ file ? fileName : '' }}
                    </p>
                    <p>
                      {{ file ? fileSize : '' }}
                    </p>
                  </div>
                  <div class="w-full flex justify-end mt-5">
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!file ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <!-- cover -->
              <mat-step *ngIf="file && !isImage(fileName)">
                <ng-template matStepLabel>OKŁADKA</ng-template>
                <div class="max-[1400px]:h-[250px] font-montserrat flex flex-col justify-start items-start">
                  <p class=" text-2xl min-[1400px]:text-3xl font-normal text-neutral-600">Wybierz okładkę materiału
                    video</p>
                  <div (click)="inputCover.click()"
                    class="flex flex-col justify-center items-center h-[100px] min-[1400px]:h-[300px] mt-2 w-full border-dashed border-2 rounded-xl border-neutral-600 cursor-pointer">
                    <input type="file" #inputCover (change)="onCoverSelected($event)" id="cover" class="hidden">
                    <p class="p-3 min-[1400px]:p-5 font-semibold text-base font-montserrat text-neutral-600">
                      WYBIERZ OKŁADKĘ
                    </p>
                  </div>
                  <div
                    class="flex flex-row justify-between items-center w-full h-[75px] mt-5 text-neutral-600 font-montserrat text-base font-normal">
                    <img [src]="cover ? coverSrc : ''" class="h-full w-auto">
                    <p>
                      {{ cover ? coverName : '' }}
                    </p>
                    <p>
                      {{ cover ? coverSize : '' }}
                    </p>
                  </div>
                  <div class="w-full flex justify-end mt-5">
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!cover ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>LOKALIZACJA</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start" formGroupName="postLocationForm">
                  <p class="text-2xl min-[1400px]:text-3xl font-normal text-neutral-600">Dodaj lokalizację</p>
                  <div class="h-[100px] min-[1400px]:h-[300px] mt-5 w-full">
                    <div class="flex flex-row items-center justify-start">
                      <img src="./assets/icons/location-icon.svg" alt="location-icon"
                        class="w-8 h-8 mr-1 min-[100px]:mr-3">
                      <input type="text" id="location" formControlName="location"
                        class="rounded-sm ring-1 ring-neutral-600 bg-black/15 w-[175px] min-[1400px]:w-[50%] outline-none px-2 text-neutral-500 text-8">
                    </div>
                  </div>
                  <div class="w-full flex justify-end gap-2">
                    <button matStepperPrevious type="button">
                      <p
                        class="text-neutral-600 font-semibold ring-2 text-sm ring-neutral-600 px-4 py-1 rounded-md hover:text-neutral-500 hover:ring-neutral-500 ease-in-out transition-all duration-150">
                        POWRÓT
                      </p>
                    </button>
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!createPostForm.get('postLocationForm.location')?.valid ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>WIDOCZNOŚĆ</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start" formGroupName="postVisibilityForm">
                  <p class="text-2xl min-[1400px]:text-3xl font-normal text-neutral-600">Widoczność posta</p>
                  <div class="h-[150px] min-[1400px]:h-[300px] mt-5">
                    <mat-slide-toggle formControlName="visibility" id="visibility" checked="true"
                      (change)="onToggleChange()" color="accent">
                    </mat-slide-toggle>
                    <p class="text-sm text-neutral-600 mt-5">
                      {{ !visibilityToggled ? 'Post będzie widoczny publicznie' : 'Post będzie ukryty' }}
                    </p>
                  </div>
                  <div class="w-full flex justify-end gap-2">
                    <button matStepperPrevious type="button">
                      <p
                        class="text-neutral-600 font-semibold ring-2 text-sm ring-neutral-600 px-4 py-1 rounded-md hover:text-neutral-500 hover:ring-neutral-500 ease-in-out transition-all duration-150">
                        POWRÓT
                      </p>
                    </button>
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!createPostForm.get('postVisibilityForm.visibility')?.valid ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>OPIS</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start"
                  formGroupName="postDescriptionForm">
                  <p class="text-2xl min-[1400px]:text-3xl font-normal text-neutral-600">Dodaj opis</p>
                  <div class="h-[200px] min-[1400px]:h-[300px] w-full mt-5">
                    <textarea autocapitalize="true" spellcheck="false" id="description" formControlName="description"
                      class="w-full h-[70%] min-[1400px]:h-[90%] ring-1 ring-neutral-600 bg-black/15 rounded-md text-neutral-500 text-base outline-none resize-none p-2"></textarea>
                  </div>
                  <div class="w-full flex justify-end gap-2">
                    <button matStepperPrevious type="button">
                      <p
                        class="text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150">
                        POWRÓT
                      </p>
                    </button>
                    <button type="submit">
                      <p
                        class="text-neutral-600 font-semibold ring-2 text-sm ring-neutral-600 px-4 py-1 rounded-md hover:text-neutral-500 hover:ring-neutral-500 ease-in-out transition-all duration-150">
                        PUBLIKUJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </form>
        </div>
      </div>
    </div>

    <!-- edit overlay -->
    <div *ngIf="isEditMode"
      class="fixed flex flex-col justify-center items-center z-[60] h-full w-full overflow-hidden">
      <div
        class="relative w-[80%] h-[80%] bg-neutral-900/95 ring-1 ring-neutral-800 rounded-2xl flex flex-col justify-between items-center">
        <div *ngIf="isUploading"
          class="absolute flex flex-col gap-5 justify-center items-center left-0 top-0 rounded-2xl z-50 w-full h-full bg-black/70">
          <span class="loader"></span>
          <p class="text-sm text-neutral-600 font-montserrat font-normal">Publikowanie posta...</p>
        </div>
        <img src="./assets/icons/cancel-icon.png" alt="cancel-icon" (click)="onCancelEditMode()"
          class="absolute right-4 top-4 w-5 h-5 brightness-75 hover:brightness-100 transition-all ease-in-out duration-100 cursor-pointer">
        <div class="w-full h-auto mt-10 px-10">
          <form id="form" [formGroup]="editPostForm" (ngSubmit)="onEdit()">
            <mat-horizontal-stepper #stepper
              style="background-color: transparent; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
              <mat-step class="w-full">
                <ng-template matStepLabel>PLIK</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start">
                  <p class="text-3xl font-normal text-neutral-600">Wybierz plik foto/video</p>
                  <div (click)="inputFile.click()"
                    class="flex flex-col justify-center items-center h-[300px] mt-2 w-full border-dashed border-2 rounded-xl border-neutral-600 cursor-pointer">
                    <input type="file" #inputFile (change)="onFileSelected($event)" id="file" class="hidden">
                    <p class="p-5 font-semibold text-base font-montserrat text-neutral-600">
                      WYBIERZ PLIK
                    </p>
                  </div>
                  <div
                    class="flex flex-row justify-between items-center w-full h-[75px] mt-5 text-neutral-600 font-montserrat text-base font-normal">
                    <img *ngIf="isImage(fileName)" [src]="file ? fileSrc : ''" class="h-full w-auto">
                    <img *ngIf="!isImage(fileName) && file"
                      [src]="createPostForm.get('postCoverForm.cover') ? './assets/icons/movie-icon.svg' : ''"
                      class="h-full w-auto">
                    <p>
                      {{ file ? fileName : '' }}
                    </p>
                    <p>
                      {{ file ? fileSize : '' }}
                    </p>
                  </div>
                  <div class="w-full flex justify-end mt-5">
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!file ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>

              <!-- cover -->
              <mat-step *ngIf="!isImage(currentPost.path)">
                <ng-template matStepLabel>OKŁADKA</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start">
                  <p class="text-3xl font-normal text-neutral-600">Wybierz okładkę materiału video</p>
                  <div (click)="inputCover.click()"
                    class="flex flex-col justify-center items-center h-[300px] mt-2 w-full border-dashed border-2 rounded-xl border-neutral-600 cursor-pointer">
                    <input type="file" #inputCover (change)="onCoverSelected($event)" id="cover" class="hidden">
                    <p class="p-5 font-semibold text-base font-montserrat text-neutral-600">
                      WYBIERZ OKŁADKĘ
                    </p>
                  </div>
                  <div
                    class="flex flex-row justify-between items-center w-full h-[75px] mt-5 text-neutral-600 font-montserrat text-base font-normal">
                    <img [src]="cover ? coverSrc : ''" class="h-full w-auto">
                    <p>
                      {{ cover ? coverName : '' }}
                    </p>
                    <p>
                      {{ cover ? coverSize : '' }}
                    </p>
                  </div>
                  <div class="w-full flex justify-end mt-5">
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!cover ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>LOKALIZACJA</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start" formGroupName="postLocationForm">
                  <p class="text-3xl font-normal text-neutral-600">Dodaj lokalizację</p>
                  <div class="h-[300px] mt-5 w-full">
                    <div class="flex flex-row items-center justify-start">
                      <img src="./assets/icons/location-icon.svg" alt="location-icon" class="w-8 h-8 mr-3">
                      <input type="text" id="location" formControlName="location"
                        class="rounded-sm ring-1 ring-neutral-600 bg-black/15 w-[50%] outline-none px-2 text-neutral-500 text-8">
                    </div>
                  </div>
                  <div class="w-full flex justify-end gap-2">
                    <button matStepperPrevious type="button">
                      <p
                        class="text-neutral-600 font-semibold ring-2 text-sm ring-neutral-600 px-4 py-1 rounded-md hover:text-neutral-500 hover:ring-neutral-500 ease-in-out transition-all duration-150">
                        POWRÓT
                      </p>
                    </button>
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!editPostForm.get('postLocationForm.location')?.valid ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>WIDOCZNOŚĆ</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start" formGroupName="postVisibilityForm">
                  <p class="text-3xl font-normal text-neutral-600">Widoczność posta</p>
                  <div class="h-[300px] mt-5">
                    <mat-slide-toggle formControlName="visibility" id="visibility" checked="true"
                      (change)="onToggleChange()" color="accent">
                    </mat-slide-toggle>
                    <p class="text-sm text-neutral-600 mt-5">
                      {{ !visibilityToggled ? 'Post będzie widoczny publicznie' : 'Post będzie ukryty' }}
                    </p>
                  </div>
                  <div class="w-full flex justify-end gap-2">
                    <button matStepperPrevious type="button">
                      <p
                        class="text-neutral-600 font-semibold ring-2 text-sm ring-neutral-600 px-4 py-1 rounded-md hover:text-neutral-500 hover:ring-neutral-500 ease-in-out transition-all duration-150">
                        POWRÓT
                      </p>
                    </button>
                    <button matStepperNext type="button">
                      <p
                        [ngClass]="!editPostForm.get('postVisibilityForm.visibility')?.valid ? 'text-neutral-900 font-semibold text-sm bg-neutral-800 px-7 py-1 rounded-md cursor-not-allowed' : 'text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150'">
                        DALEJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>OPIS</ng-template>
                <div class="font-montserrat flex flex-col justify-start items-start"
                  formGroupName="postDescriptionForm">
                  <p class="text-3xl font-normal text-neutral-600">Dodaj opis</p>
                  <div class="h-[300px] w-full mt-5">
                    <textarea autocapitalize="true" spellcheck="false" id="description" formControlName="description"
                      class="w-full h-[90%] ring-1 ring-neutral-600 bg-black/15 rounded-md text-neutral-500 text-base outline-none resize-none p-2"></textarea>
                  </div>
                  <div class="w-full flex justify-end gap-2">
                    <button matStepperPrevious type="button">
                      <p
                        class="text-neutral-900 font-semibold text-sm bg-neutral-600 px-7 py-1 rounded-md hover:bg-neutral-500 ease-in-out transition-all duration-150">
                        POWRÓT
                      </p>
                    </button>
                    <button type="submit">
                      <p
                        class="text-neutral-600 font-semibold ring-2 text-sm ring-neutral-600 px-4 py-1 rounded-md hover:text-neutral-500 hover:ring-neutral-500 ease-in-out transition-all duration-150">
                        EDYTUJ
                      </p>
                    </button>
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </form>
        </div>
      </div>
    </div>

    <!-- default device -->
    <div *ngIf="!isMobile && onShow"
      class="fixed flex flex-row justify-around items-center z-50 h-full w-full bg-black/75 overflow-hidden">
      <div *ngIf="isUploading"
        class="absolute flex flex-col gap-5 justify-center items-center left-0 top-0 rounded-2xl z-[100] w-screen h-screen bg-black/70">
        <span class="loader"></span>
        <p class="text-sm text-neutral-400 font-montserrat font-normal">Przetwarzanie...</p>
      </div>
      <div
        class="relative w-20 h-20 mr-5 hover:scale-110 hover:brightness-150 cursor-pointer transition-all ease-in-out duration-75">
        <img src="./assets/icons/swipe-left.svg" alt="swipe-left" class="h-full w-full" (click)="onSwipeLeft()"
          [style]="swipeLeftDisabled ? 'visibility: hidden' : 'visibility: visible'">
      </div>
      <img src="./assets/icons/cancel-icon.png" alt="cancel-icon" (click)="onGalleryItemClose()"
        class="absolute right-5 top-5 w-8 h-8 brightness-50 cursor-pointer hover:brightness-100 transition-all ease-in-out duration-75">
      <div class="flex flex-row justify-center items-center max-w-[90%] h-[90%]">
        <div class="flex flex-row justify-center items-center bg-neutral-900 h-full  rounded-l-xl">
          <img *ngIf="isImage(currentPost.path)" [src]="currentPost.path" alt="gallery-item"
            class="w-full h-full object-contain rounded-l-xl">
          <video *ngIf="!isImage(currentPost.path)" [src]="currentPost.path"
            [poster]="currentPost.cover" alt="gallery-item"
            class="w-full h-full object-contain rounded-l-xl" controls autoplay loop disablepictureinpicture>
          </video>
        </div>
        <div class="bg-neutral-900 h-full max-w-[25%] flex-grow rounded-r-xl flex-col items-start justify-start">
          <div class="flex flex-row justify-between items-center pl-5 w-full h-[10%]">
            <div class="flex flex-row justify-start items-center h-full w-auto">
              <img src="./assets/icons/location-icon.svg" alt="location-icon" class="w-8 h-8 mr-1">
              <span class="font-montserrat text-neutral-600 text-base font-normal">{{currentPost.location}}</span>
            </div>
            <img *ngIf="isAdmin()" src="./assets/icons/preferences-icon.svg" alt="preferences-icon"
              [matMenuTriggerFor]="settings"
              class="w-10 h-10 mr-2 cursor-pointer hover:brightness-150 transition-all ease-in-out duration-75">
            <mat-menu #settings="matMenu" yPosition="below" xPosition="before">
              <ng-template matMenuContent>
                <div mat-menu-item (click)="onEditMode()">
                  <p class="text-neutral-400 font-montserrat text-sm">
                    EDYTUJ
                  </p>
                </div>
                <div mat-menu-item (click)="onDelete()">
                  <p class="text-red-600 font-montserrat text-sm">
                    USUŃ
                  </p>
                </div>
              </ng-template>
            </mat-menu>
          </div>
          <hr class="h-[1px] border-neutral-800 mx-5">
          <div class="w-full flex flex-col justify-start items-start h-[90%]">
            <div class="h-[80%] w-full">
              <p class="w-full px-7 pt-7 text-neutral-600 text-base font-montserrat text-justify text-pretty">
                {{currentPost.description}}
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-20 h-20 mr-5 hover:scale-110 hover:brightness-150 cursor-pointer transition-all ease-in-out duration-75">
        <img src="./assets/icons/swipe-right.svg" alt="swipe-right" class="h-full w-full" (click)="onSwipeRight()"
          [style]="swipeRightDisabled ? 'visibility: hidden' : 'visibility: visible'">
      </div>
    </div>
    <div
      class="relative flex flex-col justify-start items-center w-full min-h-screen overflow-x-hidden overflow-y-visible">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <div class="w-[90%] min-[1025px]:w-[85%] h-32 flex flex-row justify-start items-center">
        <div *ngIf="isAdmin()" (click)="onCreate()"
          class="flex flex-row items-center w-auto h-10 mb-5 mt-20 hover:brightness-125 transition-all ease-in-out duration-150 cursor-pointer">
          <img src="./assets/icons/add-icon.svg" class="h-full w-auto">
          <p class="font-montserrat font-normal text-neutral-500">
            DODAJ
          </p>
        </div>
      </div>

      <!-- post grid -->
      <div *ngIf="loadedPosts.length > 0"
        class="w-[90%] min-[1025px]:w-[85%] mb-36 h-auto grid grid-cols-3 gap-2 min-[1025px]:gap-6">
        <div *ngFor="let post of loadedPosts"
          class="flex flex-col justify-center items-center aspect-w-1 aspect-h-1 cursor-pointer rounded-lg overflow-hidden">
          <img [src]="isImage(post.path) ? post.path : post.cover"
            [ngClass]="!post.visibility ? 'opacity-25' : 'opacity-100'" alt="gallery-item"
            (click)="onGalleryItemShow(post.id)"
            class="h-full w-full object-cover rounded-lg hover:scale-110 transition-all ease-in-out duration-500">
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>
