<section class="relative min-h-screen bg-gradient-to-t from-neutral-900 to-stone-800">
  <div
    class="w-full h-full absolute left-0 top-0 z-20 bg-gradient-to-l from-black to-transparent flex flex-row justify-end items-center">
    <p routerLink="/services"
      class="text-white-400 font-montserrat font-semibold mr-20 ring-1 ring-slate-400 p-3 rounded-xl hover:scale-105 ease-in duration-75">
      Zobacz więcej
    </p>
  </div>
  <div class="flex flex-1 flex-col justify-center gap-5">
    <div class="absolute top-5 left-5">
      <p class="text-white-400 font-montserrat text-[40px] max-md:text-[35px]">
        Zobacz co możesz zlecić
      </p>
    </div>
    <div
      class="mb-20 mx-40 mt-48 grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 max-md:max-w-md gap-20 items-center">
      <div class="relative h-[700px] rounded-2xl ring-2 ring-stone-600">
        <img src="./assets/camera_with_gimbal_services.png" alt="camera-with-gimbal"
          class="h-2/3 absolute right-[-90px] bottom-[-70px] z-10">
        <img src="./assets/drone_services.png" alt="camera-with-gimbal"
          class=" absolute top-[-15px] left-[-125px] z-10">
        <div class="absolute left-0 bottom-0 mb-3 ml-3">
          <p class="text-white-400 text-[60px] font-bold font-montserrat">FOTO/</p>
          <p class="text-white-400 text-[75px] text-4xl font-bold font-montserrat">VIDEO</p>
        </div>
      </div>
      <div
        class="relative flex flex-1 flex-col justify-center items-center h-[700px] rounded-2xl ring-2 ring-stone-600">
        <div class="w-[calc(100%+3rem)] h-[300px]">
          <img src="./assets/drone_pv_services.png" alt="pv-inspection" class="w-full z-10">
        </div>
        <div class="absolute left-0 bottom-0 mb-3 ml-3">
          <p class="text-white-400 text-[60px] font-bold font-montserrat">INSPEKCJE</p>
          <p class="text-white-400 text-[75px] text-4xl font-bold font-montserrat">PV</p>
        </div>
      </div>
      <div
        class="relative flex flex-1 flex-col justify-center items-center h-[700px] rounded-2xl ring-2 ring-stone-600">
        <div class="w-[calc(100%+3rem)] h-[300px]">
          <img src="./assets/fotogrammetry-services.png" alt="pv-inspection" class="w-full z-10">
        </div>
        <div class="absolute left-0 bottom-0 mb-3 ml-3 w-full text-clip overflow-hidden">
          <p class="text-white-400 text-[60px] font-bold font-montserrat">POMIARY</p>
          <p class="text-white-400 text-[75px] text-4xl font-bold font-montserrat">FOTOGRAMETRYCZNE</p>
        </div>
      </div>

    </div>
  </div>
</section>
