<app-loading-spinner *ngIf="isProcessing"></app-loading-spinner>
<div
  class="hidden min-[1024px]:block absolute top-0 left-0 z-0 w-full h-full bg-neutral-800 pl-[6.5rem] py-5 pr-5 font-montserrat">
  <div
    class="flex flex-col justify-start items-start w-full h-full bg-neutral-900 rounded-xl overflow-x-hidden overflow-y-auto">
    <div class="font-montserrat text-neutral-600 text-sm w-full text-center mt-5">
      <p *ngIf="notifications.length === 0">Brak powiadomień</p>
    </div>
    <div *ngIf="notifications.length < 0"
      class="w-full h-auto flex flex-col justify-start items-center p-5 gap-5 select-none">
      <mat-accordion *ngFor="let notification of notifications" class="example-headers-align w-full" multi>
        <mat-expansion-panel style="background-color: #202020;"
          (opened)="onNotificationShow(notification.id, notification.seen)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="text-left">
                <h3 class="text-xs text-neutral-600">Tytuł</h3>
                <p
                  [ngClass]="notification.seen ? 'text-sm font-semibold text-neutral-500' : 'text-sm font-extrabold text-neutral-500'">
                  {{ notification.title }}
                </p>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="text-left">
                <h3 class="text-xs text-neutral-600">Data</h3>
                <p
                  [ngClass]="notification.seen ? 'text-sm font-semibold text-neutral-500' : 'text-sm font-extrabold text-neutral-500'">
                  {{ notification.createdAt | date: 'dd-MM-yyyy HH:mm' }}
                </p>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex flex-col items-start justify-start gap-5 py-10">
            <div>
              <p class="text-sm text-neutral-600">{{ notification.content }}</p>
              <p class="text-base text-neutral-500 font-semibold">{{ notification.state }}</p>
            </div>
            <div>
              <h3 class="text-sm text-neutral-600">{{ notification.comment ? 'Komentarz do zmiany statusu: ' : '' }}
              </h3>
              <p class="text-base text-neutral-500 font-semibold">{{ notification.comment }}</p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<div class="block min-[1024px]:hidden absolute top-0 left-0 z-0 w-full min-h-screen overflow-hidden font-montserrat">
  <div class="w-full min-h-screen flex flex-col justify-start items-start bg-neutral-900 pt-5 pb-[78px]">
    <div class="w-full h-auto flex flex-col justify-start items-center p-3 gap-5">
      <div class="font-montserrat text-neutral-600 text-sm w-full text-center mt-2">
        <p *ngIf="notifications.length === 0">Brak powiadomień</p>
      </div>
      <mat-accordion *ngFor="let notification of notifications" class="example-headers-align w-full" multi>
        <mat-expansion-panel style="background-color: #202020;"
          (opened)="onNotificationShow(notification.id, notification.seen)">
          <mat-expansion-panel-header>
            <mat-panel-title style="text-wrap: nowrap;">
              <div class="text-left">
                <h3 class="text-[8px] text-neutral-600">Tytuł</h3>
                <p
                  [ngClass]="notification.seen ? 'text-[10px] font-semibold text-neutral-500' : 'text-[10px] font-extrabold text-neutral-500'">
                  {{ notification.title }}
                </p>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="text-left">
                <h3 class="text-[8px] text-neutral-600">Data</h3>
                <p
                  [ngClass]="notification.seen ? 'text-[10px] font-semibold text-neutral-500' : 'text-[10px] font-extrabold text-neutral-500'">
                  {{ notification.createdAt | date: 'dd-MM-yyyy HH:mm' }}
                </p>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex flex-col items-start justify-start gap-5 py-5">
            <div>
              <p class="text-xs text-neutral-600">{{ notification.content }}</p>
              <p class="text-sm text-neutral-500 font-semibold">{{ notification.state }}</p>
            </div>
            <div>
              <h3 class="text-xs text-neutral-600">{{ notification.comment ? 'Komentarz do zmiany statusu: ' : '' }}
              </h3>
              <p class="text-sm text-neutral-500 font-semibold">{{ notification.comment }}</p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
