<div class="hidden min-[1024px]:block absolute top-0 left-0 z-0 w-full h-full bg-neutral-800 pl-[6.5rem] py-5 pr-5">
  <div
    class="flex flex-col justify-start items-start w-full h-full bg-[#202020] rounded-xl overflow-x-hidden overflow-y-auto">
    <h2 class="my-5 ml-5 font-montserrat text-[35px] text-neutral-500 font-light">
      Powiadomienia
    </h2>
    <div class="w-full h-auto flex flex-col justify-start items-center p-5 gap-5">
      <section class="rounded-xl w-full h-20 bg-neutral-900">
      </section>
      <section class="rounded-xl w-full h-20 bg-neutral-900">
      </section>
      <section class="rounded-xl w-full h-20 bg-neutral-900">
      </section>

    </div>
  </div>
</div>

<div class="block min-[1024px]:hidden absolute top-0 left-0 z-0 w-full min-h-screen overflow-hidden">
  <div class="w-full min-h-screen flex flex-col justify-start items-start bg-[#202020] pb-[78px]">
    <h2 class="my-5 ml-3 font-montserrat text-[35px] text-neutral-500 font-light">
      Powiadomienia
    </h2>
    <div class="w-full h-auto flex flex-col justify-start items-center p-3 gap-3">
      <section class="rounded-xl w-full h-20 bg-neutral-900">
      </section>
      <section class="rounded-xl w-full h-20 bg-neutral-900">
      </section>
      <section class="rounded-xl w-full h-20 bg-neutral-900">
      </section>
    </div>
  </div>
</div>
