<app-navbar></app-navbar>
<main
  class="w-screen min-h-screen flex flex-col items-start justify-start pt-16 px-5 md:px-16"
>
  <h3 class="p-10 font-montserrat text-4xl text-neutral-500">O mnie</h3>
  <p class="font-montserrat text-neutral-600 pl-10">
    Znajdujesz się właśnie na stronie poświęconej mojej działalności, w której
    wykorzystuję bezzałogowe statki powietrzne, potoczne zwane dronami. Rynek
    bezzałogowców stale ewoluuje, zapełniając kolejne obszary związane z
    fotografią i produkcją video czy też inspekcjami lub pomiarami.
  </p>
  <br />
  <p class="font-montserrat text-neutral-600 pl-10">
    Temat dronów jest u mnie obecny od wielu lat a zebrane wieloletnie
    doświadczenie obecnie jest głównym atutem w ramach wspołpracy w zakresie
    oferowanych usług.
  </p>
</main>
