<footer class="bg-gradient-to-t from-neutral-900 to-stone-900 border-t-[1px] border-stone-800">
    <div class="flex justify-between items-start gap-20 flex-wrap max-lg:flex-col pt-10 px-10">
        <div class="flex flex-col items-center">
            <a href="#">
                <img src="assets/logo/logo_white.png" alt="footer-logo" width="300" height="auto">
            </a>
            <div class="flex items-center gap-5 mt-8">
                <img src="assets/logo/icons8-facebook-144.png" alt="facebook" width="50" height="50">
                <img src="assets/logo/icons8-instagram-144.png" alt="instagram" width="50" height="50">
                <img src="assets/logo/icons8-linkedin-144.png" alt="linkedin" width="50" height="50">
            </div>
        </div>
        <div class="flex flex-1 justify-between lg:gap-10 gap-20 flex-wrap">
            <div>
                <h4 class="text-white font-montserrat text-2xl leading-normal font-medium mb-6">Usługi</h4>
                <ul>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a routerLink="/photo-video">
                            Foto/Video
                        </a>
                    </li>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a routerLink="/pv-inspection">
                            Inspekcje PV
                        </a>
                    </li>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a routerLink="/photogrammetry-service">
                            Fotogrametria
                        </a>
                    </li>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a routerLink="/electric-distribution-inspection">
                            Inspekcja energetyczna
                        </a>
                    </li>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a routerLink="/windmill-inspection">
                            Inspekcja turbin wiatrowych
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex flex-1 justify-between lg:gap-10 gap-20 flex-wrap">
            <div>
                <h4 class="text-white font-montserrat text-2xl leading-normal font-medium mb-6">Info</h4>
                <ul>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a routerLink="/about">
                            O Mnie
                        </a>
                    </li>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a href="#">
                            Regulamin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex flex-1 justify-between lg:gap-10 gap-20 flex-wrap">
            <div>
                <h4 class="text-white font-montserrat text-2xl leading-normal font-medium mb-6">Kontakt</h4>
                <ul>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a href="">
                            {{ 'kontakt@slominskydrone.pl' }}
                        </a>
                    </li>
                    <li class="mt-3 text-white-400 font-montserrat text-base leading-normal hover:text-slate-gray">
                        <a href="">
                            +48 XXX XXX XXX
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class='flex text-white-400 mt-10 pb-10 items-center justify-center'>
        <div class='flex flex-1 justify-center items-center gap-2 font-montserrat cursor-pointer'>
            <img src="assets/logo/copyright-sign.svg" alt='copyright sign' width="15" height="15"
                class='rounded-full m-0' />
            <p>Wszystkie prawa zastrzeżone. SlominSky 2024</p>
        </div>
    </div>
</footer>