<section class="h-screen bg-gradient-to-b from-stone-950 to-stone-900 flex flex-row">
  <div class="w-full h-full flex flex-col md:flex-row md:justify-start items-center">
    <div class="hidden md:flex flex-col md:h-full w-full justify-center items-center flex-1 md:mb-10">
      <img src="./assets/notify-heart.png" alt="notify-heart"
        class="h-[30%] min-[1150px]:h-[50%] w-auto opacity-50 drop-shadow-2xl notify-animation">
    </div>
    <div
      class="h-full w-full lg:w-auto flex md:flex-1 flex-col items-center md:items-start justify-around md:justify-center overflow-x-hidden md:py-2">
      <div
        class="bg-gradient-to-tl ml-6 text-left w-full md:w-auto md:ml-0 from-stone-800 via-stone-700 to-white-400 text-transparent bg-clip-text overflow-hidden select-none font-montserrat font-bold">
        <p class="text-4xl sm:text-6xl min-[1150px]:text-8xl">Odkryj</p>
        <p class="text-6xl sm:test-8xl min-[1150px]:text-10xl">Portfolio</p>
      </div>
      <div class="flex md:hidden flex-col md:h-full w-full justify-center items-center md:flex-1 md:mb-10">
        <img src="./assets/notify-heart.png" alt="notify-heart"
          class="h-[275px] min-[1150px]:h-[50%] w-auto opacity-50 drop-shadow-2xl notify-animation">
      </div>
      <div>
        <p class="text-stone-600 text-[15px] sm:text-[20px] mt-10 font-montserrat font-bold py-3 px-10 md:px-7 ml-1 ring-1 ring-stone-600 rounded-full hover:scale-105 ease-in-out duration-200 cursor-pointer select-none"
          routerLink="/portfolio">
          Przejdź
        </p>
      </div>
    </div>
  </div>
</section>