<section class="h-screen bg-gradient-to-t from-neutral-900 to-stone-800 flex flex-row">
    <div class=" flex flex-col items-start justify-center w-[40%] h-full">
        <div class="text-white-400 font-montserrat font-bold ml-20">
            <p class="text-[75px] leading-[90px]">Odkryj</p>
            <p class="text-[120px] leading-[130px]">Portfolio</p>
        </div>
        <div class="w-full flex justify-start items-center">
            <p
                class="text-white-400 text-[25px] ml-20 mt-10 font-montserrat font-bold py-3 px-5 ring-1 ring-white-400 rounded-full">
                Przejdź</p>
        </div>
    </div>
    <div class="w-[60%] h-full">
        <!-- <img src="./assets/gallery.png" class="object-cover h-full w-auto backdrop-filter drop-shadow-2xl"> -->
    </div>
</section>