<app-navbar></app-navbar>
<section class="relative min-h-screen w-full bg-neutral-950 overflow-x-hidden select-none">
  <div class="flex flex-col items-center justify-start w-full h-full">
    <div class="bg-fixed bg-cover bg-center flex flex-col justify-center items-center w-full h-screen"
      style="background-image: url(./assets/pv-inspection-service/pv-banner.png); object-fit: cover; width: 100%;">
      <div class="h-full w-full flex flex-col items-center justify-center bg-black/40">
        <p class="text-6xl sm:text-8xl font-semibold font-poppins select-none text-neutral-400">
          INSPEKCJE
        </p>
        <p class="text-6xl sm:text-8xl font-semibold font-poppins select-none text-neutral-500">
          PV
        </p>
      </div>
    </div>

    <!-- description -->
    <div class="w-full h-auto mt-10 flex flex-col justify-center items-center">
      <div class="mb-16 w-[90%] flex flex-row text-base font-montserrat justify-start items-center text-neutral-600">
        <img routerLink="/" src="./assets/icons/home-icon.svg" alt="home"
          class="h-[25px] w-[25px] cursor-pointer hover:brightness-150 ease-in-out duration-150">
        <img src="./assets/icons/arrow-right-icon.svg" alt="arrow" class="h-[25px] w-[25px]">
        <p routerLink="/services" class="cursor-pointer hover:text-neutral-400 ease-in-out duration-150">
          USŁUGI
        </p>
        <img src="./assets/icons/arrow-right-icon.svg" alt="arrow" class="h-[25px] w-[25px]">
        <p>
          INSPEKCJE PV
        </p>
      </div>
      <div class="relative w-[75%] h-auto flex flex-col justify-center items-start ">
        <p class="font-montserrat font-semibold text-3xl sm:text-4xl text-neutral-500">
          O Usłudze
        </p>
        <p
          class="text-xl sm:text-2xl text-justify font-light mt-16 font-poppins text-neutral-600 overflow-hidden select-none">
          SlominSky oferuje usługę związaną z inspekcją efektywności paneli fotowoltaicznych z wykorzystaniem
          bezzałogowych statków powietrznych i zaawansowanych narzędzi analizujących otrzymane wyniki pomiarów.
          Poniżej znajdziesz informacje dotyczące inspekcji oraz parametrów technicznych wykorzystywanego do pomarów
          sprzętu.
        </p>
      </div>
      <div class="w-[85%] h-auto flex flex-col justify-center items-center mt-32">
        <div
          class="w-full ring-1 ring-neutral-700 bg-gradient-to-tl from-neutral-800/10 to-neutral-700/10 rounded-2xl px-8 py-8 md:px-16 md:py-16">
          <p class="w-full text-left font-montserrat font-semibold text-3xl sm:text-4xl text-neutral-500">
            Dlaczego warto przeprowadzać okresowe inspekcje swojej instalacji?
          </p>
          <div data-aos="fade-up" data-aos-duration="500" data-aos-once="true" data-aos-easing="ease"
            class="mb-24 mt-32 w-full h-auto flex flex-row justify-start sm:justify-around items-start">
            <div
              class="mr-5 md:mr-10 flex flex-col justify-center items-center h-[45px] w-[45px] md:h-[60px] md:w-[60px] ring-1 ring-blue-300 bg-gradient-to-t from-blue-500/30 to-transparent shadow-md shadow-blue-500/50 text-neutral-500 rounded-full text-center align-middle font-montserrat font-semibold text-[45px] leading-[45px]">
              <p
                class="text-neutral-400 text-center align-middle font-montserrat font-semibold text-[20px] md:text-[30px]">
                1
              </p>
            </div>
            <p
              class="max-w-[70%] md:max-w-[80%] text-xl sm:text-2xl text-justify font-light font-poppins text-neutral-600 text-wrap overflow-hidden">
              Inspekcje paneli fotowoltaicznych dronami są szybsze i bardziej efektywne niż tradycyjne metody,
              szczególnie na dużych farmach fotowoltaicznych.
            </p>
          </div>
          <div data-aos="fade-up" data-aos-duration="500" data-aos-once="true" data-aos-easing="ease"
            class="my-32 w-full h-auto flex flex-row justify-start sm:justify-around items-start">
            <div
              class="mr-5 md:mr-10 flex flex-col justify-center items-center h-[45px] w-[45px] md:h-[60px] md:w-[60px] ring-1 ring-blue-300 bg-gradient-to-t from-blue-500/30 to-transparent shadow-md shadow-blue-500/50 text-neutral-500 rounded-full text-center align-middle font-montserrat font-semibold text-[45px] leading-[45px]">
              <p
                class="text-neutral-400 text-center align-middle font-montserrat font-semibold text-[20px] md:text-[30px]">
                2
              </p>
            </div>
            <p
              class="max-w-[70%] md:max-w-[80%] text-xl sm:text-2xl text-justify font-light font-poppins text-neutral-600 text-wrap overflow-hidden">
              Bezzałogowce z wysokiej jakości kamerami i czujnikami termowizyjnymi wykrywają uszkodzenia paneli, takie
              jak mikropęknięcia, zabrudzenia i problemy z połączeniami, zapobiegając spadkowi wydajności i zagrożeniom
              pożarowym.
            </p>
          </div>
          <div data-aos="fade-up" data-aos-duration="500" data-aos-once="true" data-aos-easing="ease"
            class="my-32 w-full h-auto flex flex-row justify-start sm:justify-around items-start">
            <div
              class="mr-5 md:mr-10 flex flex-col justify-center items-center h-[45px] w-[45px] md:h-[60px] md:w-[60px] ring-1 ring-blue-300 bg-gradient-to-t from-blue-500/30 to-transparent shadow-md shadow-blue-500/50 text-neutral-500 rounded-full text-center align-middle font-montserrat font-semibold text-[45px] leading-[45px]">
              <p
                class="text-neutral-400 text-center align-middle font-montserrat font-semibold text-[20px] md:text-[30px]">
                3
              </p>
            </div>
            <p
              class="max-w-[70%] md:max-w-[80%] text-xl sm:text-2xl text-justify font-light font-poppins text-neutral-600 text-wrap overflow-hidden">
              Inspekcje dronami zwiększają bezpieczeństwo, eliminując potrzebę fizycznego dostępu do paneli i
              zmniejszając ryzyko wypadków. Operatorzy mogą pracować z bezpiecznej odległości, co jest kluczowe w
              trudnych warunkach pogodowych i terenowych.
            </p>
          </div>
          <div data-aos="fade-up" data-aos-duration="500" data-aos-once="true" data-aos-easing="ease"
            class="my-32 w-full h-auto flex flex-row justify-start sm:justify-around items-start">
            <div
              class="mr-5 md:mr-10 flex flex-col justify-center items-center h-[45px] w-[45px] md:h-[60px] md:w-[60px] ring-1 ring-blue-300 bg-gradient-to-t from-blue-500/30 to-transparent shadow-md shadow-blue-500/50 text-neutral-500 rounded-full text-center align-middle font-montserrat font-semibold text-[45px] leading-[45px]">
              <p
                class="text-neutral-400 text-center align-middle font-montserrat font-semibold text-[20px] md:text-[30px]">
                4
              </p>
            </div>
            <p
              class="max-w-[70%] md:max-w-[80%] text-xl sm:text-2xl text-justify font-light font-poppins text-neutral-600 text-wrap overflow-hidden">
              Wykorzystanie dronów redukuje czas inspekcji i liczbę pracowników, obniżając koszty operacyjne. Szybkie
              wykrywanie i naprawa usterek zapobiegają poważnym awariom i utracie przychodów z produkcji energii.
            </p>
          </div>
          <div data-aos="fade-up" data-aos-duration="500" data-aos-once="true" data-aos-easing="ease"
            class="my-32 w-full h-auto flex flex-row justify-start sm:justify-around items-start">
            <div
              class="mr-5 md:mr-10 flex flex-col justify-center items-center h-[45px] w-[45px] md:h-[60px] md:w-[60px] ring-1 ring-blue-300 bg-gradient-to-t from-blue-500/30 to-transparent shadow-md shadow-blue-500/50 text-neutral-500 rounded-full text-center align-middle font-montserrat font-semibold text-[45px] leading-[45px]">
              <p
                class="text-neutral-400 text-center align-middle font-montserrat font-semibold text-[20px] md:text-[30px]">
                5
              </p>
            </div>
            <p
              class="max-w-[70%] md:max-w-[80%] text-xl sm:text-2xl text-justify font-light font-poppins text-neutral-600 text-wrap overflow-hidden">
              Nowoczesne technologie związne z dronami, jak AI i uczenie maszynowe, automatyzują analizę danych,
              wykrywają anomalie i generują
              raporty, zwiększając efektywność inspekcji i optymalizując wydajność farm fotowoltaicznych.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease"
      class="my-40 lg:my-52 w-auto">
      <p (click)="onShowProcess()"
        class="ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[10px] sm:text-[20px] hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50">
        Zobacz jak wygląda proces realizacji zlecenia
      </p>
    </div>

    <!-- inspection overview -->
    <div class="w-[90%] h-auto flex flex-col items-center mb-32 mt-10 md:my-0">
      <div
        class="relative w-full ring-2 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent ring-neutral-800 rounded-2xl p-10 lg:mb-16">
        <p
          class="absolute bg-neutral-950 rounded-full text-neutral-600 font-montserrat font-semibold text-[20px] leading-[20px] left-5 top-[-10px] sm:text-[26px] sm:leading-[26px] sm:left-10 sm:top-[-13px] px-2">
          INSPEKCJA
        </p>
        <div class="w-full h-auto flex flex-col lg:flex-row justify-start items-center">
          <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
            data-aos-anchor-placement="center-center"
            class="h-[55%] my-10 lg:my-20 md:h-auto w-auto md:w-[55%] lg:h-auto flex justify-center">
            <img src="./assets/pv-inspection-service/pv-panels.png" alt="pv-panels" class="h-full w-auto opacity-50">
          </div>
          <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
            data-aos-anchor-placement="center-center"
            class="flex flex-col justify-start items-start lg:pl-10 w-full lg:max-w-[60%]">
            <p
              class="font-poppins text-neutral-600 font-normal text-md md:text-2xl text-justify lg:text-left text-pretty">
              Inspekcja paneli fotowoltaiczych realizowana jest z wykorzystaniem profesjonalnego sprzętu.
              Główny nacisk kładzie się na pomiary termowizyjne, które umożliwiają wykrycie defektów, uszkodzeń
              lub nieprawidłowej pracy co ma bezpośrednie przełożenie na bezpieczeństwo i efektywność.
            </p>
          </div>
        </div>
        <div class="w-full flex flex-col justify-start items-center mb-16">
          <p
            class="w-[95%] md:w-[80%] py-10 text-left font-montserrat font-semibold text-neutral-500 text-4xl md:text-6xl">
            Inspekcja z powietrza
          </p>
          <video [autoplay]="true" [muted]="true" [loop]="true"
            src="http://127.0.0.1:8000/storage/pv-inspection-service/pv-drone.mp4"
            class="rounded-2xl brightness-[60%] w-[95%] md:w-[80%] h-auto">
          </video>
          <p
            class="w-[95%] md:w-[80%] py-10 text-justify font-montserrat font-normal text-neutral-700 text-base md:text-2xl">
            Inspekcja paneli fotowoltaicznych z powietrza niesie za sobą wiele korzyści, o któych wspomniano już wyżej.
            Zlecenia o charaketrze inspekcyjnym mają charakter przede wszystkim techniczny - kluczowe są wszystkie
            aspekty wchodzące w skład szeroko pojętych efektywności i bezpieczeństwa. Badania techniczne wymagają zatem
            precyzji i niskiej tolerancji błędu a wszystkie wspomniane aspekty osiągniesz w ramach Naszej Wspołpracy.
          </p>
        </div>
        <div class="w-full flex flex-col justify-start items-center mb-16">
          <p
            class="w-[95%] md:w-[80%] py-10 text-left font-montserrat font-semibold text-neutral-500 text-4xl md:text-6xl">
            Czego dotyczy inspekcja?
          </p>
          <div data-aos="flip-left" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
            data-aos-anchor-placement="center-center" class="w-[100%] sm:w-[95%] md:w-[85%] h-auto mt-10">
            <p-carousel [value]="inspectionFeatures" [numVisible]="1" [numScroll]="1" [circular]="true"
              autoplayInterval="5000">
              <ng-template let-inspectionFeatures pTemplate="inspectionFeatures">
                <div class="relative rounded-2xl mb-5">
                  <div class="w-full h-[350px] sm:h-[500px] md:h-[600px] lg:h-[700px]">
                    <img src="{{ inspectionFeatures.image }}" alt="inspection feature"
                      class="object-cover w-full h-full rounded-2xl relative top-0 left-0 z-10">
                  </div>
                  <div
                    class="absolute flex flex-col justify-end items-start bg-gradient-to-t from-black rounded-b-2xl h-full bottom-0 left-0 w-full z-20">
                    <div class="p-3 md:px-5 md:py-5 w-full">
                      <p
                        class="w-full mb-2 sm:mb-5 text-left text-sm sm:text-2xl md:text-3xl font-montserrat font-semibold text-neutral-400">
                        {{ inspectionFeatures.title }}
                      </p>
                      <p
                        class="w-full text-left lg:text-justify text-xs sm:text-xl md:text-2xl font-poppins font-light text-neutral-500">
                        {{ inspectionFeatures.description }}
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>

    <!-- camera overview -->
    <div class="w-[90%] mt-16 h-auto flex flex-col items-center">
      <div
        class="relative w-full ring-2 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent ring-neutral-800 rounded-2xl p-10 mb-32 lg:mb-16">
        <p
          class="absolute bg-neutral-950 rounded-full text-neutral-600 font-montserrat font-semibold text-[20px] leading-[20px] left-5 top-[-10px] sm:text-[26px] sm:leading-[26px] sm:left-10 sm:top-[-13px] px-2">
          PARAMETRY KAMERY
        </p>
        <div class="w-full h-auto flex flex-col justify-start items-start">
          <div data-aos="fade" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
            data-aos-anchor-placement="top-center"
            class="relative mt-5 md:mt-16 flex flex-col justify-center items-center w-full h-auto p-10 bg-gradient-to-t from-neutral-800 to-neutral-500 text-transparent bg-clip-text">
            <p class="text-center font-bold font-montserrat text-4xl sm:text-6xl md:text-8xl lg:text-12xl xl:text-16xl">
              KAMERA
            </p>
            <p
              class="text-center font-bold font-montserrat text-2xl sm:text-4xl md:text-6xl lg:text-8xl xl:text-10xl min-[1400px]:text-12xl min-[1700px]:text-16xl">
              INSPEKCYJNA
            </p>
            <img src="./assets/inspection-camera.png" alt="inspection-camera"
              class="hidden md:block h-[350px] lg:h-[400px] xl:h-[550px] w-auto object-contain absolute z-10 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] opacity-85">
            <img src="./assets/inspection-camera.png" alt="inspection-camera"
              class="block mt-10 md:hidden w-[85%] sm:w-[75%] md:w-[60%] h-auto object-contain opacity-85">
          </div>
          <div class="w-full mt-36 mb-16 h-auto grid grid-cols-1 min-[1000px]:grid-cols-2 gap-y-10">
            <div data-aos="flip-left" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
              data-aos-anchor-placement="top-center" class="flex flex-col w-full justify-center items-center">
              <div
                class="flex flex-col justify-center items-center rounded-2xl w-[70%] h-[350px] ring-1 ring-neutral-700">
                <img src="/assets/icons/zoom-icon.svg" alt="zoom-icon" class="w-28 sm:w-36 h-auto highlight-shadow">
                <p class="text-base min-[450px]:text-xl my-3 font-montserrat font-semibold text-neutral-500">
                  POWIĘKSZENIE</p>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">30x zoom
                  optyczny</span>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">180x zoom
                  hybrydowy</span>
              </div>
            </div>
            <div class="flex flex-col justify-center items-center">
              <div data-aos="flip-left" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
                data-aos-anchor-placement="top-center"
                class="flex flex-col justify-center items-center rounded-2xl w-[70%] h-[350px] ring-1 ring-neutral-700">
                <img src="/assets/icons/temperature-icon.svg" alt="temperature-icon"
                  class="w-28 sm:w-36 h-auto highlight-shadow">
                <p class="text-base min-[450px]:text-xl my-3 font-montserrat font-semibold text-neutral-500">DOKŁADNOŚĆ
                </p>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">
                  ±2&deg;C (-20&deg;C ~ +150&deg;C)
                </span>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">
                  ±3&deg;C (0&deg;C ~ +550&deg;C)
                </span>
              </div>
            </div>
            <div class="flex flex-col justify-center items-center">
              <div data-aos="flip-left" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
                data-aos-anchor-placement="top-center"
                class="flex flex-col justify-center items-center rounded-2xl w-[70%] h-[350px] ring-1 ring-neutral-700">
                <img src="/assets/icons/screen-size-icon.svg" alt="screen-size-icon"
                  class="w-28 sm:w-36 h-auto highlight-shadow">
                <p class="text-base min-[450px]:text-xl my-3 font-montserrat font-semibold text-neutral-500">
                  ROZDZIELCZOŚĆ</p>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">Światło
                  widzialne: 4k</span>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">Termowizja:
                  640x512</span>
              </div>
            </div>
            <div class="flex flex-col justify-center items-center">
              <div data-aos="flip-left" data-aos-duration="1000" data-aos-once="true" data-aos-easing="ease"
                data-aos-anchor-placement="top-center"
                class="flex flex-col justify-center items-center rounded-2xl w-[70%] h-[350px] ring-1 ring-neutral-700">
                <img src="/assets/icons/camera-icon.svg" alt="camera-icon"
                  class="w-28 sm:w-36 ml-4 h-auto highlight-shadow">
                <p class="text-base min-[450px]:text-xl mt-3 font-montserrat font-semibold text-neutral-500">CZUŁOŚĆ</p>
                <p class="text-base min-[450px]:text-xl mb-3 font-montserrat font-semibold text-neutral-500">
                  PRZETWORNIKA</p>
                <span class="text-sm min-[450px]:text-base font-poppins font-semibold text-neutral-700">8 ~ 14&mu;m
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- order steps -->
    <div id="order-steps" class="w-[95%] sm:w-[90%] h-auto mt-16 md:mt-36 flex flex-col items-center">
      <div
        class="relative w-full h-full ring-2 ring-neutral-800 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent rounded-2xl p-0">
        <p
          class="absolute w-[230px] sm:w-auto bg-neutral-950 rounded-full text-neutral-600 font-montserrat font-semibold text-[20px] leading-[20px] left-5 top-[-20px] sm:top-[-10px] md:text-[26px] md:leading-[26px] md:left-10 md:top-[-13px] px-2">
          PROCES REALIZACJI ZAMÓWIENIA
        </p>
        <div class="w-full h-full mt-32">
          <p-timeline [value]="steps" align="alternate" styleClass="customized-timeline" class="">
            <ng-template pTemplate="marker" let-step>
              <span class="flex justify-center items-center h-12 w-12 sm:h-20 sm:w-20 m-1 lg:m-2">
                <img [src]="step.icon" alt="step icon" class="w-full h-full">
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-step>
              <div
                class="w-auto min-h-[400px] sm:min-h-[300px] px-2 lg:px-10 pt-0 flex flex-col items-{{step.items}} justify-start">
                <p class="hyphens-auto text-xl sm:text-2xl lg:text-3xl font-semibold text-neutral-400 font-montserrat">
                  {{step.title}}</p>
                <p
                  class="mt-3 text-xs sm:text-sm text-pretty lg:text-base max-w-[450px] font-light text-left text-neutral-500 font-poppins">
                  {{step.description}}</p>
              </div>
            </ng-template>
          </p-timeline>
        </div>

      </div>
    </div>

    <!-- order a service -->
    <div data-aos="fade-up" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease" class="my-40 w-auto">
      <div
        class="flex flex-row items-center ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 px-7 py-3 rounded-full hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50 select-none">
        <p routerLink="/user/panel/create-order/2"
          class="text-blue-200 font-montserrat font-semibold  text-[18px] min-[450px]:text-[25px] lg:text-[30px]">
          Zamawiam usługę
        </p>
        <img src="./assets/icons/arrow-icon.svg" alt="arrow" class="h-10 w-10 ml-2">
      </div>
    </div>

    <!-- contact -->
    <div class="w-[80%] h-auto mb-16 flex flex-col md:flex-row items-center justify-center">
      <img src="./assets/chat.png" alt="chat" class="hidden md:block md:h-[500px] lg:h-[600px] w-auto">
      <div class="w-auto ml-8 lg:ml-16 h-full flex flex-col items-center md:items-start justify-center">
        <p class="font-montserrat text-4xl lg:text-6xl text-neutral-500 font-semibold my-2">Masz pytania?</p>
        <p class="font-poppins text-3xl text-neutral-600 font-light my-2">Zapraszam do kontaktu</p>
        <img src="./assets/chat.png" alt="chat" class="block md:hidden md:h-[500px] lg:h-[600px] w-auto">
        <p routerLink="/contact"
          class="ring-1 my-10 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[20px] hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50">
          Skontaktuj się
        </p>
      </div>
    </div>
  </div>
</section>