<app-navbar></app-navbar>
<section class="relative min-h-screen w-full bg-neutral-900 overflow-x-hidden">
  <div class="flex flex-col items-center justify-start w-full h-full">
    <div class="bg-fixed bg-cover bg-center flex flex-col justify-center items-center w-full h-screen"
      style="background-image: url(./assets/pv-inspection-service/pv-banner.png); object-fit: cover; width: 100%;">
      <div class="h-full w-full flex flex-col items-center justify-center bg-black/30">
        <p class="text-8xl font-bold font-montserrat select-none text-neutral-800">
          INSPEKCJA
        </p>
        <p class="text-8xl font-bold font-montserrat select-none text-neutral-800">
          PV
        </p>
      </div>
    </div>


    <!-- description -->
    <div class="w-full h-auto mt-24 flex flex-col justify-center items-center">
      <div class="relative w-[75%] h-auto flex flex-col justify-center items-start ">
        <!-- <p
          class="ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[20px] my-16 shadow-md shadow-blue-100/50">
          O USŁUDZE</p> -->
        <p class="font-montserrat font-semibold text-4xl text-neutral-500">O Usłudze</p>
        <p class="text-2xl text-left font-light mt-5 mb-16 font-poppins text-neutral-600 overflow-hidden select-none">
          SlominSky oferuje usługę związaną z tworzeniem materiałów foto/video w wybranym przez Ciebie formacie i stylu
          z dbałością o każdy szczegół.
          Zlecając usługę nie martwisz się o przebieg, czas czy jakość wykonania zlecenia a dzięki panelowi
          użytkownika z łatwością kontrolujesz stan swojego zlecenia.
        </p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease" class="my-40 w-auto">
      <p (click)="onShowProcess()"
        class="ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[20px] hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50">
        Zobacz jak wygląda proces realizacji zlecenia
      </p>
    </div>

    <!-- feature 1 - camera -->
    <div data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease"
      class="w-[80%] h-auto flex flex-col items-center">
      <div
        class="relative w-full ring-2 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent ring-neutral-800 rounded-2xl p-10 mb-16">
        <p
          class="absolute top-[-13px] bg-neutral-900 rounded-full text-neutral-600 font-montserrat font-semibold text-[26px] leading-[26px] left-10 px-2">
          UJĘCIA STACJONARNE
        </p>
        <div class="w-full h-auto flex flex-row justify-start items-center">
          <!-- <div class="h-[700px] w-auto overflow-hidden rounded-2xl"> -->
          <img src="./assets/foto-video-service/camera.png" alt="camera-with-gimbal" class=" h-[700px] opacity-75">
          <!-- </div> -->
          <div class="flex flex-col justify-start items-start pl-10 max-w-[70%]">
            <p class="font-poppins text-neutral-600 font-normal text-2xl">
              Ujęcia stacjonarne tworzone są za pomocą odpowiedniego sprzętu wyposażonego w odpowiednią optykę -
              wszystko po to, aby uchwycić i podkreślić wszystkie elementy kadru na których Ci zależy.
              Za płynność ujęć odpowiada gimbal.
            </p>
          </div>
        </div>
      </div>
    </div>


    <!-- feature 2 - drone -->
    <div data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease"
      class="w-[80%] h-auto mt-48 flex flex-col items-center">
      <div
        class="relative w-full ring-2 ring-neutral-800 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent rounded-2xl pt-10 pb-10 pl-10 pr-3 mb-16">
        <p
          class="absolute top-[-13px] bg-neutral-900 rounded-full text-neutral-700 font-montserrat font-semibold text-[26px] leading-[26px] left-10 px-2">
          UJĘCIA Z POWIETRZA
        </p>
        <div class="w-full h-auto flex flex-row justify-end items-center">
          <!-- <div class="h-[700px] w-auto overflow-hidden rounded-2xl"> -->
          <img src="./assets/foto-video-service/drone.png" alt="camera-with-gimbal"
            class=" h-[700px] opacity-75 order-1">
          <!-- </div> -->
          <div class="flex flex-col justify-start items-start pl-10 max-w-[70%]">
            <p class="font-poppins text-neutral-600 font-normal text-2xl">
              Ujęcia z powietrza mogą być kluczowym aspektem Twojej realizacji. Tu nie chodzi wyłącznie o inną
              perspektywę ujęć - prezentacja ważnych aspektów obiektu zlecenia z wysokości to furtka do innych
              możliwości, które odkryjesz w ramach naszej współpracy.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- feature 3 - order steps -->
    <div id="order-steps" class="w-[80%] h-auto mt-48 flex flex-col items-center">
      <div
        class="relative w-full h-full ring-2 ring-neutral-800 bg-gradient-to-t from-blue-200/5 via-transparent to-transparent rounded-2xl p-0">
        <p
          class="absolute top-[-13px] bg-neutral-900 rounded-full text-neutral-700 font-montserrat font-semibold text-[26px] leading-[26px] left-10 px-2">
          PROCES REALIZACJI ZAMÓWIENIA
        </p>

        <div class="w-full h-full mt-32">
          <p-timeline [value]="steps" align="alternate" styleClass="customized-timeline" class="">
            <ng-template pTemplate="marker" let-step>
              <span class="flex justify-center items-center h-16 w-16 m-3 rounded-full  ring-blue-400 shadow-2xl">
                <img [src]="step.icon" alt="send">
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-step>
              <div class="w-auto min-h-[300px] p-10 pt-0 flex flex-col items-{{step.items}} justify-start">
                <p class="text-3xl font-semibold text-neutral-400 font-montserrat">{{step.title}}</p>
                <p class="mt-3 max-w-[450px] text-md font-light text-left text-neutral-500 font-poppins">
                  {{step.description}}</p>
              </div>
            </ng-template>
          </p-timeline>
        </div>

      </div>
    </div>

    <!-- order a service -->

    <div data-aos="fade-up" data-aos-duration="750" data-aos-once="true" data-aos-easing="ease" class="my-40 w-auto">
      <div
        class="flex flex-row items-center ring-1 bg-gradient-to-t from-blue-500/20 ring-blue-200 px-7 py-3 rounded-full hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50 select-none">
        <p class="text-blue-200 font-montserrat font-semibold text-[25px]">
          Zamawiam usługę
        </p>
        <img src="./assets/icons/arrow-icon.svg" alt="arrow" class="h-10 w-10 ml-2">
      </div>
    </div>

    <!-- contact -->
    <div class="w-[80%] h-auto mb-16 flex flex-row items-center justify-center">
      <img src="./assets/chat.png" alt="chat" class="h-[600px] w-auto">
      <div class="w-auto ml-16 h-full flex flex-col items-start justify-center">
        <p class="font-montserrat text-6xl text-neutral-500 font-semibold my-2">Masz pytania?</p>
        <p class="font-poppins text-3xl text-neutral-600 font-light my-2">Zapraszam do kontaktu</p>
        <p
          class="ring-1 my-10 bg-gradient-to-t from-blue-500/20 ring-blue-200 text-blue-200 font-montserrat font-semibold px-7 py-3 rounded-full text-[20px] hover:scale-105 cursor-pointer ease-in-out duration-150 shadow-md shadow-blue-100/50">
          Skontaktuj się
        </p>
      </div>
    </div>
  </div>
</section>
