<div
  class="hidden min-[1024px]:block absolute top-0 left-0 z-0 w-full h-full bg-neutral-800 pl-[6.5rem] py-5 pr-5 overflow-hidden">
  <app-loading-spinner *ngIf="isProcessing"></app-loading-spinner>
  <div
    class="p-5 flex flex-col justify-start items-start w-full h-full bg-neutral-900 rounded-xl overflow-x-hidden overflow-y-auto">
    <div routerLink="/choose-service"
      class="flex flex-row items-center justify-start w-auto h-10 hover:brightness-125 transition-all ease-in-out duration-150 cursor-pointer">
      <img src="./assets/icons/add-icon.svg" class="h-8 w-8">
      <p class="font-montserrat text-sm font-normal text-neutral-500">
        DODAJ
      </p>
    </div>
    <div class="flex flex-col justify-start items-start gap-5 w-full h-full">
      <p *ngIf="orders.length === 0"
        class="mt-2 w-full text-center font-montserrat font-semibold text-sm text-neutral-600">
        Brak zleceń
      </p>
      <div class="w-full">
        <section *ngFor="let order of orders" class="w-full h-[60px]">
          <div
            class="my-5 flex flex-row justify-between px-5 items-center w-full h-full rounded-2xl bg-[#101010] hover:bg-[#121212] font-montserrat text-neutral-500 font-semibold text-sm ease-in-out duration-150 cursor-pointer">
            <div class="text-left">
              <h4 class="text-[10px] text-neutral-700">
                Nazwa zlecenia
              </h4>
              <p>
                {{ order.alias }}
              </p>
            </div>
            <div class="text-left">
              <h4 class="text-[10px] text-neutral-700">
                Rodzaj zlecenia
              </h4>
              <p>
                {{ order.service}}
              </p>
            </div>
            <div class="text-left">
              <h4 class="text-[10px] text-neutral-700">
                Zakres zlecenia
              </h4>
              <p>
                {{ order.subservice }}
              </p>
            </div>
            <div class="text-left">
              <h4 class="text-[10px] text-neutral-700">
                Data
              </h4>
              <p>
                {{ order.date }}
              </p>
            </div>
            <h4 class="rounded-full py-1 px-3" [ngClass]="order.stateColor">
              {{ order.state }}
            </h4>
            <h4 (click)="onOrderDetails(order.id)"
              class="ring-1 rounded-full py-1 px-3 ring-neutral-600 text-neutral-600 cursor-pointer hover:brightness-125 ease-in-out duration-200">
              Szczegóły
            </h4>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div
  class="block min-[1024px]:hidden absolute top-0 left-0 z-0 w-screen h-screen bg-[#202020] px-3 pt-3 overflow-hidden">
  <app-loading-spinner *ngIf="isProcessing"></app-loading-spinner>
  <div routerLink="/choose-service"
    class="flex flex-row items-center justify-start w-auto h-10 hover:brightness-125 transition-all ease-in-out duration-150 cursor-pointer">
    <img src="./assets/icons/add-icon.svg" class="h-8 w-8">
    <p class="font-montserrat text-sm font-normal text-neutral-500">
      DODAJ
    </p>
  </div>
  <div class="flex flex-col justify-start items-start gap-5 w-full h-full rounded-xl overflow-x-hidden overflow-y-auto">
    <p *ngIf="orders.length === 0"
      class="w-full mt-4 text-center font-montserrat font-semibold text-sm text-neutral-600">
      Brak zleceń
    </p>
    <div class="w-full">
      <section *ngFor="let order of orders" class="w-full h-[60px]">
        <div
          class="my-5 flex flex-row justify-between px-5 items-center w-full h-full rounded-xl bg-[#101010] hover:bg-[#121212] font-montserrat text-neutral-500 font-semibold text-sm ease-in-out duration-150 cursor-pointer">
          <div class="text-left">
            <h4 class="text-[8px] text-neutral-700">
              Nazwa zlecenia
            </h4>
            <p class="text-[10px] text-ellipsis">
              {{ order.alias }}
            </p>
          </div>
          <div class="text-left">
            <h4 class="text-[8px] text-neutral-700">
              Data
            </h4>
            <p class="text-[10px]">
              {{ order.date }}
            </p>
          </div>
          <h4 class="rounded-full py-1 px-2 text-[10px]" [ngClass]="order.stateColor">
            {{ order.state }}
          </h4>
          <h4 (click)="onOrderDetails(order.id)"
            class="ring-1 rounded-full py-1 px-2 text-[10px] ring-neutral-600 text-neutral-600 cursor-pointer hover:brightness-125 ease-in-out duration-200">
            Szczegóły
          </h4>
        </div>
      </section>
    </div>
  </div>
</div>
