<section
  class="w-full flex flex-row justify-center h-screen gap-10 max-container bg-[radial-gradient(ellipse_at_top,_#252525_0%,#070707_70%)]">
  <div class="w-full h-full flex-1 flex-row justify-center items-start">
    <div data-aos="fade-right" data-aos-duration="800"
      class="flex items-start justify-center flex-col absolute z-10 w-auto h-full pl-10 sm:pl-20 text-left font-montserrat bg-gradient-to-tl from-stone-800 via-stone-700 to-white-400 text-transparent bg-clip-text overflow-hidden select-none">
      <p class="text-4xl md:text-6xl font-bold ">
        Odkryj
      </p>
      <p class="text-wrap text-2xl md:text-4xl font-semibold">
        nowy wymiar usług
      </p>
      <p class="text-2xl md:text-4xl font-semibold">
        z wykorzystaniem
      </p>
      <p class="text-6xl md:text-[150px] md:leading-[160px] font-bold">
        Dronów
      </p>
      <div data-aos="fade-up" data-aos-duration="300" data-aos-delay="1800">
        <p (click)="onBeginButton()"
          class="text-stone-600 text-[20px] mt-10 font-montserrat font-bold py-3 px-7 ring-1 ring-stone-600 rounded-full hover:scale-105 ease-in-out duration-200 cursor-pointer select-none">
          Zaczynamy
        </p>
      </div>
    </div>
    <div class="absolute right-0 flex flex-col justify-center h-full w-auto overflow-x-hidden">
      <img class="h-[90%] w-auto object-cover" src="./assets/phantom4pro_black_banner.png" alt="drone"
        data-aos="fade-left" data-aos-duration="800" data-aos-delay="500">
    </div>
  </div>
</section>