<section class="w-full flex xl:flex-row flex-col justify-center min-h-screen gap-10 max-container snap-center">
    <div class="w-full h-full flex-1 flex-row justify-center items-start ">
        <div
            class="flex items-start justify-center flex-col absolute z-10 w-1/2 h-full pl-20 text-white-400 text-left font-montserrat bg-gradient-to-r from-neutral-900 to-transparent">
            <p class="text-4xl">
                Usługi
            </p>
            <p class="text-4xl">
                z wykorzystaniem
            </p>
            <p class="text-8xl">
                Dronów
            </p>
        </div>
        <img src="./assets/phantom4pro_black_banner.png" class="absolute inset-0 w-full h-full object-cover">
    </div>
</section>