<p-toast></p-toast>
<app-loading-spinner *ngIf="isProcessing"></app-loading-spinner>
<div class="bg-gradient-to-b from-stone-800 to-black h-screen w-screen font-montserrat">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
    <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-2/3 bg-white/5 sm:mx-0 h-3/5 sm:h-4/5 lg:h-4/5">
      <div class="flex flex-col w-full md:w-1/2 p-4">
        <div class="h-full flex flex-col gap-3 justify-around items-center">
          <h1 class="text-4xl text-center font-montserrat font-thin">Logowanie</h1>
          <form #loginForm="ngForm" (ngSubmit)="onLoginFormSubmit(loginForm)"
            class="form-horizontal w-3/4 mx-auto font-montserrat text-sm">
            <mat-form-field appearance="outline" class="auth-inputs">
              <mat-label>E-mail</mat-label>
              <input matInput id="email" ngModel name="email" required email #email="ngModel" autocomplete="email">
              <mat-error *ngIf="email.hasError('required')">
                Adres e-mail jest wymagany
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="auth-inputs">
              <mat-label>Hasło</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" id="password" ngModel name="password" required
                password minlength="6" #password="ngModel" autocomplete="new-password" style="padding: 2px;">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.hasError('required')">
                Hasło jest wymagane
              </mat-error>
            </mat-form-field>
            <button type="submit" [disabled]="!loginForm.valid" class="w-full">
              <p class="bg-neutral-700 font-montserrat text-white rounded-2xl text-sm font-semibold py-2 px-4"
                [ngClass]="!loginForm.valid ? 'cursor-not-allowed opacity-50' : 'cursor-pointer opacity-100'">
                Zaloguj
              </p>
            </button>
          </form>
          <div class="flex flex-col items-center justify-center mt-4">
            <!-- <a class="no-underline hover:underline text-blue-dark text-xs" href="#">
              Odzyskaj hasło
            </a> -->
            <a class="no-underline hover:underline text-neutral-500 text-xs cursor-pointer" routerLink="/register">
              Załóż konto
            </a>
          </div>
        </div>
      </div>
      <div class="hidden md:block md:w-1/2 rounded-r-lg bg-stone-900">
        <div class="h-full w-full flex flex-col justify-center items-center">
          <img id="side-image" src="./assets/logo/logo_white.png" alt="logo" class="w-[60%]">
        </div>
      </div>
    </div>
  </div>
</div>
