<div *ngIf="isSidebarHovered" id="sidebar-overlay"
  class="absolute w-screen h-screen top-0 left-0 block bg-black/30 z-20 sidebar_overlay_fade">
</div>

<main class="w-full h-full overflow-hidden">
  <div *ngIf="!isMobile" class="absolute left-0 top-0 h-full w-auto p-5 z-30">
    <aside id="sidebar" (mouseenter)="isSidebarHovered = true" (mouseleave)="isSidebarHovered = false"
      class="w-16 hover:w-60 transition-all ease-in-out duration-500 rounded-lg bg-neutral-900 h-full flex flex-col justify-center items-start gap-10 group">
      <section routerLink="/" class="font-montserrat text-[14px] font-semibold text-neutral-600">
        <div
          class="flex flex-row items-center mx-2 cursor-pointer hover:brightness-125 transition-all duration-300 ease-in-out">
          <img src="./assets/icons/home-icon.svg" alt="home" class="w-12 h-12 mb-2">
          <h3 class="mx-2 hidden group-hover:block group-hover:animate-sidebar_expand">
            STRONA GŁÓWNA
          </h3>
        </div>
      </section>
      <section routerLink="/user/panel/notifications" routerLinkActive="routing-highlight"
        class="font-montserrat text-[14px] font-semibold text-neutral-600">
        <div
          class="flex flex-row items-center mx-2 cursor-pointer hover:brightness-125 transition-all duration-300 ease-in-out">
          <div class="relative w-12 h-12">
            <img src="./assets/icons/bell-icon.svg" alt="notification" class="absolute top-0 left-0 w-12 h-12">
            <div *ngIf="badgeValue.valueOf() > 0" class="absolute top-1 right-1 rounded-full bg-red-700 w-4 h-4 text-center">
              <p class="font-montserrat text-neutral-400 font-semibold text-[10px]">
                {{ badgeValue.valueOf() < 10 ? badgeValue : '9+' }} </p>
            </div>
          </div>
          <h3 class="mx-2 hidden group-hover:block group-hover:animate-sidebar_expand">POWIADOMIENIA</h3>
        </div>
      </section>
      <section routerLink="/user/panel/orders" routerLinkActive="routing-highlight"
        class="font-montserrat text-[14px] font-semibold text-neutral-600">
        <div
          class="flex flex-row items-center mx-2 cursor-pointer hover:brightness-125 transition-all duration-300 ease-in-out">
          <img src="./assets/icons/list-icon.svg" alt="list" class="w-12 h-12">
          <h3 class="mx-2 hidden group-hover:block group-hover:animate-sidebar_expand">MOJE ZLECENIA</h3>
        </div>
      </section>
      <!-- <section routerLink="/user/panel/account" routerLinkActive="routing-highlight"
        class="font-montserrat text-[14px] font-semibold text-neutral-600">
        <div
          class="flex flex-row items-center mx-2 cursor-pointer hover:brightness-125 transition-all duration-300 ease-in-out">
          <img src="./assets/icons/user-icon.svg" alt="user" class="w-12 h-12">
          <h3 class="mx-2 hidden group-hover:block group-hover:animate-sidebar_expand">MOJE KONTO</h3>
        </div>
      </section> -->
    </aside>
  </div>

  <menu *ngIf="isMobile"
    class="fixed flex flex-row justify-around items-center z-30 bottom-0 left-0 h-auto w-full font-montserrat text-[12px] text-neutral-500 rounded-t-xl bg-neutral-950 overflow-hidden">
    <li class="my-2">
      <div routerLink="/" class="flex flex-col justify-center items-center">
        <img src="./assets/icons/home-icon.svg" alt="home" class="w-8 h-8">
        <h3 class="mx-2 text-xs">
          HOME
        </h3>
        <div class="w-10 mt-2 h-[5px] rounded-full">
        </div>
      </div>
    </li>

    <li class="my-2">
      <div routerLink="/user/panel/notifications" routerLinkActive="routing-highlight"
        class="flex flex-col justify-center items-center">
        <div class="relative">
          <img src="./assets/icons/bell-icon.svg" alt="notification" class="w-8 h-8">
          <div *ngIf="badgeValue.valueOf() > 0" class="absolute top-0 right-0 rounded-full bg-red-700 w-3 h-3 text-center">
            <p class="font-montserrat text-neutral-400 font-semibold text-[0.5rem]">
              {{ badgeValue.valueOf() < 10 ? badgeValue : '9+' }} </p>
          </div>
        </div>
        <h3 class="mx-2 text-xs">
          POWIADOMIENIA
        </h3>
        <div class="w-10 mt-2 h-[5px] rounded-full" routerLinkActive="routing-indicator">
        </div>
      </div>
    </li>

    <li class="my-2">
      <div routerLink="/user/panel/orders" routerLinkActive="routing-highlight"
        class="flex flex-col justify-center items-center">
        <img src="./assets/icons/list-icon.svg" alt="list" class="w-8 h-8">
        <h3 class="mx-2 text-xs">
          ZLECENIA
        </h3>
        <div class="w-10 mt-2 h-[5px] rounded-full" routerLinkActive="routing-indicator">
        </div>
      </div>
    </li>
    <!-- <li class="my-2">
      <div routerLink="/user/panel/account" routerLinkActive="routing-highlight"
        class="flex flex-col justify-center items-center">
        <img src="./assets/icons/user-icon.svg" alt="user" class="w-8 h-8">
        <h3 class="mx-2">
          KONTO
        </h3>
        <div class="w-10 mt-2 h-[5px] rounded-full" routerLinkActive="routing-indicator">
        </div>
      </div>
    </li> -->
  </menu>
</main>
