<header
  [ngClass]="!menuToggled ? 'px-10 py-0 fixed z-50 min-w-full bg-black backdrop-filter backdrop-blur-sm bg-opacity-20' : 'px-10 py-0 fixed z-50 min-w-full bg-black backdrop-filter backdrop-blur-2xl bg-opacity-50 h-full flex flex-col'"
  class="px-10 py-0 fixed z-50 min-w-full bg-black backdrop-filter backdrop-blur-sm bg-opacity-20">
  <div class="flex flex-row justify-between items-center">
    <div class="flex justify-start items-start w-72">
      <img *ngIf="menuToggled" src="./assets/logo/logo_white.png" alt="logo" class="h-[75px] opacity-50">
      <img *ngIf="!menuToggled" routerLink="/" src="./assets/logo/logo_white.png" alt="logo"
        class="h-[75px] hover:scale-105 ease-in duration-75 opacity-50 cursor-pointer">
    </div>
    <ul class="justify-center items-center gap-4 text-stone-400 font-montserrat text-[16px] hidden lg:flex">
      <li>
        <a routerLink="/about" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-75 ">
          O MNIE
        </a>
      </li>
      <li>
        <a routerLink="/services" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-75 ">
          USŁUGI
        </a>
      </li>
      <li>
        <a routerLink="/portfolio" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-75 ">
          PORTFOLIO
        </a>
      </li>
      <li>
        <a routerLink="/contact" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-75 ">
          KONTAKT
        </a>
      </li>
    </ul>
    <ul class="justify-center items-center gap-4 text-[16px] w-72 text-stone-400 font-montserrat hidden lg:flex">
      <li *ngIf="isAuthenticated">
        <a routerLink="/user/panel/orders" class="hover:text-stone-200 ease-in duration-75">PANEL</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/login" class="hover:text-stone-200 ease-in duration-75">ZALOGUJ</a>
      </li>
      <li *ngIf="isAuthenticated" (click)="onLogout()">
        <a class="hover:text-stone-200 ease-in duration-75 cursor-pointer">WYLOGUJ</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/register" class="hover:text-stone-200 ease-in duration-75">ZAREJESTRUJ SIĘ</a>
      </li>
    </ul>
    <div class="justify-center items-center px-2 py-1 flex lg:hidden">
      <img alt="menu/cancel"
        class="fill-stone-400 w-8 h-8 cursor-pointer opacity-85 hover:opacity-100 ease-in duration-150"
        [src]="!menuToggled ? './assets/icons/hamburger-menu-icon.png' : './assets/icons/cancel-icon.png'"
        (click)="onMenuToggled()">
    </div>
  </div>
  <div *ngIf="menuToggled" class="w-full grow flex flex-col justify-center items-center" (click)="onMenuToggled()">
    <ul class="justify-center flex flex-col items-center text-stone-400 font-montserrat text-xl">
      <div data-aos="fade-down" data-aos-duration="200" data-aos-once="true" data-aos-easing="ease">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/about" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100">
            O MNIE
          </a>
        </li>
      </div>
      <div data-aos="fade-down" data-aos-duration="200" data-aos-delay="100" data-aos-once="true"
        data-aos-easing="ease">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/services" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 ">
            USŁUGI
          </a>
        </li>
      </div>
      <div data-aos="fade-down" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"
        data-aos-easing="ease">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/portfolio" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 ">
            PORTFOLIO
          </a>
        </li>
      </div>
      <div data-aos="fade-down" data-aos-duration="200" data-aos-delay="300" data-aos-once="true"
        data-aos-easing="ease">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/contact" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 ">
            KONTAKT
          </a>
        </li>
      </div>
      <div *ngIf="!isAuthenticated" data-aos="fade-down" data-aos-duration="200" data-aos-delay="400"
        data-aos-once="true" data-aos-easing="ease">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/login" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 ">
            ZALOGUJ SIĘ
          </a>
        </li>
      </div>
      <div *ngIf="!isAuthenticated" data-aos="fade-down" data-aos-duration="200" data-aos-delay="500"
        data-aos-once="true">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/register" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 "
            data-aos-easing="ease">
            ZAREJESTRUJ SIĘ
          </a>
        </li>
      </div>
      <div *ngIf="isAuthenticated" data-aos="fade-down" data-aos-duration="200" data-aos-delay="400"
        data-aos-once="true" data-aos-easing="ease">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a routerLink="/user/panel/orders"
            class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 ">
            PANEL
          </a>
        </li>
      </div>
      <div *ngIf="isAuthenticated" data-aos="fade-down" data-aos-duration="200" data-aos-delay="500"
        data-aos-once="true">
        <li class="my-3 hover:my-5 ease-in duration-100 hover:scale-110">
          <a (click)="onLogout()" class="font-montserrat leading-normal hover:text-stone-200 ease-in duration-100 "
            data-aos-easing="ease">
            WYLOGUJ
          </a>
        </li>
      </div>
    </ul>
  </div>
</header>
